[2013-06-13 07:59] aenario opened #2 "VCF file wrong mime-type"
vcf files doesn't have 'text/x-vcard' mime type on Joseph machine

Need debugging.

[2013-06-21 07:39] #2 closed, assigned to aenario

[2013-06-21 07:47] jsilvestre opened #5 "Search input frame bugging on Firefox"
The orange frame of the search input is higher and larger than the dark grey background.
- when the list is empty, it looks bad (no left/right border, bottom border in the white part)
- when the list has items, only the top border is visible

Attachment: http://d.pr/i/UvQF

[2013-06-21 07:57] jsilvestre opened #6 "Layout suggestions"
I might suggest a few things about the layout:
- the text color black in the list looks weird. What about a grey ? Maybe Todos' grey
- the "email [blank space] phone" is not easily readable. Can we have a separator ?
- can we standardize the phone number displaying ? like no space at all if you don't want to blow your mind
- can you adjust the date display ? I mean most of our users are french, so

[2013-06-21 08:00] jsilvestre opened #7 ""Note" form field not taking the whole space"
In Firefox, the "note" form field is super small.

Attachment: http://d.pr/i/pTqx

[2013-06-21 09:18] #5 closed, assigned to nobody

[2013-06-21 09:18] #7 closed, assigned to nobody

[2013-07-14 22:30] HLFH opened #9 "Support CardDAV"
OC supports CardDAV. Please support CardDAV too.

[2013-07-30 12:54] maxence-cote opened #10 "Large Vcard import freezes browser"
I imported a Vcard file witth more than 700 contacts which freezed my browser for some time. I had to close the tab on come back to my cozy.

"potential memory leak on contact import (freeze)"

[2013-07-31 12:32] maxence-cote opened #11 "Contact without name not supported in note"
If the contact list contains contacts without a name, it breaks the integration of contacts within notes.

[2013-09-28 16:51] Thatoo opened #13 "sort by last name"
My father would rather to sort his contact by last name rather than first name.

[2013-09-28 17:03] Thatoo opened #14 "Vcard import and sync"
My father import all his address book to cozy with a Vcard. Everything was ok at first but after a logout/login (maybe a sync happened in between, we don't know but if yes it didn't succeed as nothing appear in the new sync address book on mac os). On cozy contact, only names and descriptions remain, but email, phone numbers and so on disappear.

[2013-10-02 10:05] #9 closed, assigned to nobody

[2013-11-27 10:44] #13 closed, assigned to nobody

[2013-12-06 10:30] #11 closed, assigned to nobody

[2014-01-29 12:43] geier opened #19 "Not standard conform VCards"
Cozy creates (and than serves via CardDAV) not standard conform VCards. Particularly I have noticed missing FN and N properties (those are required) and  non-standard ADR fields (those need to be structured with an semicolon (;) character. Especially the later breaks at least [vobject](http://vobject.skyhouseconsulting.com).

[2014-04-08 10:20] mihneadb opened #20 "Support closing `edit name` modal with Esc"
Right now if you press Esc while having the `edit name` modal open the app will go back to the root view and will keep the modal open.

[2014-04-08 22:09] mihneadb opened #22 "Import data from Google and other providers (FB etc.)"
I think it's worth reusing/looking at the code that does this for Firefox OS:
https://github.com/mozilla-b2g/gaia/blob/master/apps/communications/gmail/js/gmail_connector.js

There's a FB connector in there too.

[2014-04-14 10:43] #14 closed, assigned to nobody

[2014-06-16 07:09] #20 closed, assigned to nobody

[2014-06-17 11:29] #10 closed, assigned to nobody

[2014-07-17 08:53] frankrousseau opened #24 "Contact sorting and special chars"
1) Œ chars are badly displayed.
2) Ó char is listed after the Z char.

[2014-08-04 07:40] jsilvestre opened #25 "Using "tab" while in the tag input does move the focus to the "name" field"

[2014-08-04 07:40] jsilvestre opened #26 "Clicking a contact doesn't open it (Android / Firefox)"
Confirmed on Android 4.3 and 4.4

[2014-08-04 07:41] jsilvestre opened #27 ""New contact" window is too large and hardly usable on mobile"
Confirmed on Android 4.4

[2014-09-01 12:06] frankrousseau opened #29 "Realtime issues"
- [x] When a contact is updated remotely, the contact list preview is not updated.
- [ ] When a contact is deleted remotely, the main contact view is still displayed.

[2014-09-17 09:51] jsilvestre opened #31 "Tagging a contact triggers an error"
Removing or selecting a tag trigger the following error:

[code]

Also, removing a tag triggers a selection at the same time (might be related in some way).

[2014-09-17 09:53] #6 closed, assigned to nobody

[2014-09-17 09:57] #27 closed, assigned to nobody

[2014-09-24 06:20] jsilvestre opened #32 "Creating fixtures"
We use contacts in many apps, yet we don't have decent fixtures for it. I found this, this morning http://travishorn.github.io/fake-identity/

[2014-10-07 12:34] alpha14 opened #33 "Contacts names who contain accents are not saved when importing"

[2014-10-09 10:12] #31 closed, assigned to nobody

[2014-10-09 12:12] #33 closed, assigned to nobody

[2014-10-14 05:19] nledez opened #34 "Some contacts can't be imported"
I have some contacts can't be imported.

Application say there are imported but doesn't show it in the list.

One example:
https://nicolasledez.cozycloud.cc/public/files/files/e64954041db6688556e06213242817d3/attach/ContactKO-CNR.vcf

[2014-10-14 05:26] nledez opened #35 "Bad contact title"
When I import some card, titles are KO.

Some times only a ",".

Or "Centre equestre Chateaubourg,  " and if I try to fix card to "Centre equestre Chateaubourg" all title disappear.

Can I force the title?

Examples are here:
https://nicolasledez.cozycloud.cc/public/files/files/e64954041db6688556e0621324283e6a/attach/ContactNoSummary.vcf

[2014-10-14 07:20] #24 closed, assigned to nobody

[2014-10-15 13:45] #19 closed, assigned to jsilvestre

[2014-10-15 13:45] #34 closed, assigned to jsilvestre

[2014-10-24 13:40] frankrousseau opened #37 "Setting a contact picture is failing"
I can't figure out why but I can't upload contact picture anymore. Logs say nothing, it looks like the error happens on the client side.

[2014-11-29 15:40] #37 closed, assigned to nobody

[2014-11-30 22:30] frankrousseau opened #39 "Note field doesn't save properly"
There is a case where the note field is not properly saved:

1. Click on a contact that has no notes already set.
2. Type a note on it
3. Focus out of the field

The result is that the note field is automatically cleared and your note data are lost.

[2014-12-01 12:12] #29 closed, assigned to jsilvestre

[2014-12-02 15:23] jsilvestre opened #42 "Exporting contacts by tag"

[2014-12-04 18:49] bagage opened #43 "Impossible (?) to remove all contacts at once"
I imported my contacts from a `vcf`and now I would like to remove them all (because some are missing and I don't want to mess with duplicates etc.). I could not find an option via the webapp to delete them all?

[2014-12-20 15:35] frankrousseau opened #44 "Contact import do not support char encoding field"
l s'agit d'un format de vcf de ThunderSync de TB qui exporte en version 2.1 et on y remarque la mention ;CHARSET=UTF-8 qui fait buger l'import du nom un coup de sed dans le fichier et hop c'est repartie.

BEGIN:VCARD
VERSION:2.1
REV:2014-12-19T12:40:45Z
N;CHARSET=UTF-8:NOM

[2014-12-20 15:38] frankrousseau opened #45 "Import issues"
* Special chars are not recognized.
* Can't import pictures.

[2015-01-03 01:06] marthjod opened #51 "Contacts export results in cozy-light stopping"
Fresh install, Contacts app v1.0.10. Reproduce: On, e.g., [http://localhost:19104/apps/cozy-contacts/#help](http://localhost:19104/apps/cozy-contacts/#help), choose "Click here to export all your contacts as a vCard file: Export vCard file".
Result:

[code]

This is the start-up output:

[code]

[2015-01-03 12:35] frankrousseau commented on #51
Hi @marthjod. Thank you for reporting.

The Cozy Contact application for Cozy Light was not up to date. I updated it with latest standard Cozy version. You can try to uninstall/install it again.

[2015-01-04 22:33] frankrousseau opened #53 "Picture is not supported in contact import/export"
Photo field should be included to the export.

Import should hande picture import too.

[2015-01-05 07:17] jsilvestre commented on #53
Is it not working or not existing?

Because it should be at least present (and it was working last time I tried):
* https://github.com/cozy/cozy-contacts/blob/master/server/models/contact.coffee#L58-L60 (export)
* https://github.com/cozy/cozy-contacts/blob/master/client/app/models/contact.coffee#L339-L348 (import)

[2015-01-05 15:17] frankrousseau commented on #53
Sorry it was a version problem.

[2015-01-05 15:17] #53 closed

[2015-01-17 10:56] Beast141 commented on #45
I can see pictures are able to be imported now

[2015-01-17 11:02] Beast141 opened #57 "When importing - the labels 'Home' turns into 'Voice'"
When importing all contacts at once or even one at a time - if the contact was saved with a Home number in android with the 'Home' label. on cozy it shows 'Voice' and then once i go add an additional number on that specific contact on cozy - after changes have been saved it automatically duplicates the name of the contact. Very weird.. perhaps a bug?

[2015-01-18 09:03] Beast141 commented on #57
I have come across an additional bug - once i change the cell phone number on cozy - it automatically duplicates the name again. i see it has duplicated the firstname into family name. Since there was no family name.  Why does it do this?

[2015-01-19 14:41] jsilvestre commented on #57
Hi @Beast141 and thank you for the report. We are currently in the process to clean up name management, that should fix your name bug. About the label change, we'll have a look at it (ping @jacquarg).

[2015-01-19 14:41] jsilvestre commented on #45
What about special chars, @frankrousseau ?

[2015-01-19 14:42] jsilvestre commented on #44
Is it still bugging?

[2015-01-19 14:48] jacquarg commented on #57
Hi. I made a fix about the labels this morning. I hope that the next update will fix the two bug you have found.

[2015-01-19 17:17] Beast141 commented on #45
Oh yes special characters doesnt seem like they work either
Because when importing the contact with special characters then it only recognizes the number on import.. without the name.

[2015-01-23 08:57] m4dz opened #58 "Turn a card as organisation instead of person"
We should have a simple checkbox to mark a card as _organisation_ instead of _person_, so the man field is the _org_ one, instead of _firstname lastname_.

In the list, it means the org field is used for sorting. In the card view, we may vary the layout to first-use the _org_ field.

[2015-01-29 09:28] frankrousseau commented on #26
Yes it's still not working.

[2015-01-29 09:29] frankrousseau commented on #26
Maybe @jacquarg could work on it?

[2015-01-29 11:16] jacquarg commented on #26
Yes !
With Joseph's advices, and luck I think I fixed it with a simple update of nicescroll plugin. I PR as soon as the big PR#59  is merged.

[2015-01-29 11:19] frankrousseau commented on #26
Ok. Thank you for the update.

[2015-02-05 15:38] frankrousseau commented on #51
Hi @marthjod do you have any news about that?

[2015-02-05 16:35] #26 closed

[2015-02-05 17:00] frankrousseau commented on #35
Could you test again with recent changes?

[2015-02-07 07:35] clochix opened #62 "Add fields for contact GPG key"
If we want to support PGP in email app, it would be great to allow to store the PGP public keys inside Contact.
We may also store two metadata of the key : its ID and fingerprint, to make querying  easier.

[2015-02-09 09:22] m4dz opened #63 "Format field in card view"
When view card, some fields may be formatted for display, like phone number (see screenshot).
![screen shot 2015-02-09 at 10 19 10](https://cloud.githubusercontent.com/assets/471486/6103515/82c34e62-b045-11e4-8e8d-9231f5855920.png)

E.g.: I often saved phone numbers w/o spaces (+33212345678), but the display render should format them to improve readability (+33 2 12 34 56 78).

[2015-02-09 15:36] clochix commented on #57
@jsilvestre, @jacquarg any news on this ?

[2015-02-09 15:38] clochix commented on #39
@frankrousseau do you still experiment this bug or can we consider it has been fixed ?

[2015-02-09 15:38] clochix commented on #44
@frankrousseau do you still experiment this bug or can we consider it has been fixed ?

[2015-02-09 15:43] clochix commented on #45
The problem with "special chars" may be related to #44

[2015-02-09 15:49] jacquarg commented on #57
I put a fix with PR #59 . But it's a quick (and dirty ?) fix : types home, work, and cell have priority, others are hidden.
A new issue (#6) in cozy-vcard asks to get further on this subject: handle multi-types.

[2015-02-09 16:10] clochix commented on #57
Hi @Beast141, could you please update Contact and test if the latest version fix this issue ? Thanks ☺

[2015-02-09 16:26] frankrousseau commented on #39
No, thank you!

[2015-02-09 16:26] #39 closed

[2015-02-09 16:27] frankrousseau commented on #44
Don't know I reported it from a user email.

[2015-02-10 11:33] aenario commented on #45
Most of special characters encoding issues should have been fixed by : https://github.com/cozy/cozy-vcard/commit/9e243bc1783b90ee6014053d785dc79625892419

Which is part of cozy-contact v1.1.0
@Beast141 , could you test if the issue is solved for you ?

Otherwise, we'd appreciate if you can provide us with a example of a broken vcard. (in this thread or by mail at romain@cozycloud.cc if you prefer

[2015-02-10 11:35] aenario commented on #44
CHARSET=UTF8 should have been fixed by : https://github.com/cozy/cozy-vcard/commit/9e243bc1783b90ee6014053d785dc79625892419

I suggest we close this issue in favor of #45 where we have a participating user.

[2015-02-10 11:57] frankrousseau commented on #44
Ok thank you @aenario for the info.

[2015-02-10 11:57] #44 closed

[2015-02-10 15:45] aenario commented on #63
That's pretty hard to do in a internationally compatible way. The google librairy for phone numbers might prove usefull.

[2015-02-10 16:11] m4dz commented on #63
Yep. Maybe we could preset settings with user locale settings, and let him override those settings with a simple pattern (e.g. `+## # ## ## ## ##` > `+## ### ## ## ##`) ?

[2015-02-11 02:17] hansbkk commented on #63
I ALWAYS format my phone numbers exactly as I prefer them to appear, which for the past copule of decades has been spaces rather than any parens or dashes.

If there is an app or service that doesn't like that formatting - e.g. doesn't work properly with phone numbers containing spaces - then I wouldn't use that app or service.

Have you (has anyone reading this) actually come across any problems

[2015-02-11 09:38] m4dz commented on #63
@hansbkk, maybe you take the time to format the phone numbers exactly as you want, but this is _your_ choice, not the one of many users. When I add a contact from my call-log on my phone, I really don't care how it saves information for me. But I prefer to have it displayed in a consistent manner on _all_ the card of my addressbook.

Yes, I know that phone numbers are located, due to user location

[2015-02-11 11:23] clochix commented on #62
See http://tools.ietf.org/html/rfc6350#section-6.8.1

[2015-02-11 13:47] hansbkk commented on #63
Sure it's a great idea, and now I can see the need for it for those that allow/want contacts to be added by automated processes (not me for sure!)

However it seems like a big challenge to me to come up with A a rule engine with enough flexibility to handle the dozens if not hundreds of different "break patterns" and B a way for the user to express their preferences based on ? address field countr

[2015-02-16 17:39] Beast141 commented on #57
Hi there - sorry for the delay, it seems as though after the update it didnt change/correct my current contact list.  I am looking for a way to mass delete all contacts and re import them but i cannot do that to test. i can however test one contact and i will give feedback shortly.

[2015-02-16 18:01] Beast141 commented on #57
Okay - i managed to delete all contacts with the data browser and re-imported them all. It now works. Thank you so much Cozy team for making Cozy better everyday!!

[2015-02-16 18:05] frankrousseau commented on #57
Great, thank you for the bug report!

[2015-02-16 18:05] #57 closed

[2015-02-18 14:39] m4dz opened #66 "Improve card deletion"
Deleting cards is not truly intuitive: we must go to "more infos" section to get access to the delete button, which isn't totally relevant. Plus, have a way to bulk delete files could be a good and faster way to quickly edit the list.

[2015-02-18 16:10] frankrousseau commented on #66
+1

[2015-02-19 15:35] #51 closed

[2015-02-19 18:41] aenario opened #68 "Keyboard navigation in form"
Using Firefox, its not convenient to navigate using tab in contact edition form. (stuck in name field, stuck in tags field)

While we are at it, we might want to implement keyboard navigation in contacts list.

[2015-02-20 07:35] clochix commented on #45
@Beast141 Have you been able to test with Cozy-contact 1.1.0 ? Can we close this ?

[2015-02-20 08:58] Beast141 commented on #45
@clochix sorry for the delay. As far as i can tell i havent had any special chars issues at the moment. Im going to do a test import with some new ascii chars to see if it will do it again. Il let you know over the weekend before you close this.

[2015-02-20 10:17] clochix commented on #45
Thanks @Beast141 ☺

[2015-02-21 18:11] Beast141 commented on #45
@clochix
Perfect - it all works with special chars!! you may close this.
Thanks for support!

[2015-02-21 18:18] Beast141 commented on #66
i bump this enhancement as soon as possible! Having a mass deletion would be extremely useful. As well as an easy deletion button.

[2015-02-21 18:22] Beast141 commented on #42
You know this would be very useful if the 'Group' the contacts are listed under in android are then imported in Cozy in tags. so Group = Tags, would be really amazing enhancement.
Dont you think?

[2015-02-21 19:22] clochix commented on #45
Thanks for testing !

[2015-02-21 19:22] #45 closed

[2015-02-21 23:32] hansbkk commented on #42
Sounds great. IMO should support (in both directions, export and import/sync)  both Google and iCloud style group specs, lots of tools use the "category" field to emulate tags/groups with vCard 3.0, but in the future native v4.0 Groups support will be needed.

[2015-02-23 08:57] clochix commented on #35
Dear @jsilvestre, dear @nledez, I would really appreciate if you could give import another try and tell us if you still encounter this behavior. Thanks !

[2015-02-28 16:16] frankrousseau commented on #35
We have no news from both of them, let's consider the issue closed.

[2015-02-28 16:16] #35 closed

[2015-03-03 14:06] m4dz opened #74 "iOS custom fields cannot be saved"
iOS uses vcard fields to store additional informations such as custom ring per contacts. If you try to set it to a contact synchonized with your cozy, the field isn't saved, and the contact fall back to its previous version, meaning you lack your custom setting.

[2015-03-03 14:13] hansbkk commented on #74
Related to the general idea of "don't lose user data", if not preserving full vCard data intact (apparently not possible due to architectural choices) then working toward supporting at least the full set of fields used by Google Contacts and iCloud.

some others clustered here:
https://github.com/cozy/cozy-sync/issues/26#issuecomment-73535007

[2015-03-03 15:07] Bobbylamouche commented on #68
I agree with this one. The user should be able to tab from one field to the other, especially on the same line. For example: when I enter a new phone number, I have to fill the type of phone (main) then the number itself. A Tab should take me to the first field to the second.

[2015-03-03 19:45] frankrousseau commented on #74
@m4dz Could you provide an example of failing iOS vCard

[2015-03-03 20:03] m4dz commented on #74
I will use wireshark to capture network stream from my iOS device to provide a guilty vCard to you ;)

[2015-03-03 20:26] m4dz commented on #74
Ok, nevermind, I previously speak about [Charles](http://www.charlesproxy.com/documentation/faqs/using-charles-from-an-iphone/). I'll do it tonight of tomorrow morning :)

[2015-03-03 20:38] frankrousseau commented on #74
I think there is a way to export your data directly to vCard format.

[2015-03-03 20:54] m4dz commented on #74
Unfortunately, from iOS, I'm not sure the OS allow that. I can export a vCard from the contacts.app on OS X but there's a risk that the datas aren't truly identical.

[2015-03-04 09:15] hansbkk commented on #74
the iCloud contacts interface should have an "export to vCard"

also many CardDAV clients will sync with the pretty-standard iClound interface at https://contacts.icloud.com - vdirsyncer will create a standard vCard collection against this, or act as an intermediary to sync against Radicale or SabreDAV for example.

[2015-03-04 09:33] frankrousseau commented on #74
I don't have Apple hardwares of my own, so my iCloud account has close to no apps. I will deal with exports directly from an iPad I borrowed.

[2015-03-04 12:04] hansbkk commented on #74
Then you should be able to use the sample "complete" Google vCard I created, import that into iCloud and have a look to see if Apple supports some additional fields.

I believe their structuring of the Groups feature is special to Apple's contacts, but many CardDAV clients support it, as well as the more usual use of Categories as groups.

[2015-03-04 13:15] m4dz commented on #74
So (sorry for the delay) iCloud doesn't offer a mechanism to export a vCard. I used Charles as I mentioned above to spy exchanges between my iOS device and iCloud servers. The session is [attached to this post](http://cl.ly/1G3O382Z3s22/download/icloud_carddav.chls).

During this test, I tried to update settings related to the notifications sounds and vibrates. The vCard format posted in the `PUT`

[2015-03-04 14:27] frankrousseau commented on #74
And they use URIs as picture.

[2015-03-04 14:32] m4dz commented on #74
Indeed :smile:

[2015-03-18 07:58] m4dz opened #76 "Bulk import failed on large amount of data"
Some users have encoutered silent import failures when trying to import bulk VCF files exported from Apple Contacts.app (see [Import contacts depuis Mac OS 10](https://forum.cozy.io/t/import-contacts-depuis-mac-os-10/376) [fr]). Import failed when there is many contacts (approx 200) in a single file. Small files (~70 contacts per each one) works-well. The limit isn't very clear (I have successfull

[2015-03-18 13:32] hansbkk commented on #76
Note many apps/platforms will only accept one-at-a-time VCF-per-contact, and a "standard" plaintext data store is "folder full of VCFs".

So there are plenty of tools that will split out from that to a single-file collection, or merge back.

Some like Markus Unterwaditzer's vdirsyncer
	https://vdirsyncer.readthedocs.org/en/stable/vdir.html
and Annemarie Böhmer's ContactSync 	https://play.google.co

[2015-03-18 14:01] frankrousseau commented on #76
In fact the problem was solved yesterday night. I imported 500 contacts with 40 fields each. It's slow but it works.

[2015-03-22 13:21] AntoineCa opened #79 "Importing vCard with Google Chrome"
Importing vCard within contatcs works perfectly with Firefox but not with Chrome.
When selecting a .vcf, the import window displays "*xxx.vcf is not a vCard*".

[2015-03-22 16:28] frankrousseau commented on #79
Ok.Thank you for reporting. We'll have a look a it soon.

[2015-03-23 08:37] #76 closed

[2015-03-23 12:18] aenario commented on #79
Bonjour @AntoineCa, cela peut aussi être lié à l'OS. Lequel utilises-tu ?

[2015-03-23 12:42] AntoineCa commented on #79
Windows 8.1 !

[2015-03-29 13:52] Peltoche commented on #66
Hi!
I want delete all my 399 cards, you can imagine that will be very long if i delete them one by one... That should be great than we can select list and after do an action. An one button to erase all.
Thks for the work!

[2015-03-30 20:41] frankrousseau commented on #79
We found the origin of the bug. It's because the mime type declared by Windows 8 for .vcf file doesn't match the one we set in the application.

[2015-03-30 20:47] frankrousseau commented on #74
I close this @m4dz. Let me know, if you meet another problems

[2015-03-30 20:47] #74 closed

[2015-03-31 06:44] m4dz commented on #74
Thanks a lot @frankrousseau! Everything seems all right now :smile:.

[2015-04-08 09:12] aenario opened #84 "Replace mailto: link by emails app if available."

[2015-04-08 22:14] obigroup opened #85 "Errors on log file"
When I open a contact :

[code]

[2015-04-09 23:06] #85 closed

[2015-04-10 13:29] nono opened #86 "Bad URL for cozy-contacts homepage"
Hi,

nothing very important, but it can be nice to fix the homepage URL of [cozy-contacts](https://github.com/cozy/cozy-contacts) (at the top). It should be http://cozy.github.io/cozy-contacts/ instead of http://mycozycloud.github.io/cozy-contacts/.

[2015-04-10 14:09] frankrousseau commented on #86
Thank you for reporting. I think this website is no more relevant. So I changed it to the main website.

[2015-04-10 14:09] #86 closed

[2015-04-21 14:30] obigroup opened #87 "Contacts Application is not authorized (docType:user)"
When I start contacts app, it logs this on data-system.log :
[code]
If you try to log docType in /usr/local/cozy/apps/data-system/build/server/lib/token.js you will see that app try to use docType: user but can't found this docType on app permissions.

Do you know why ?

Thanks.

[2015-04-21 14:35] aenario commented on #87
Hi @obigroup, this is caused by cozydb (ref = https://github.com/cozy/cozy-db/issues/9). At startup, the app will try to create the user/all view even if it doesnt use it. This will not cause any bug but will display an error in the data-system log.

It needs to be fixed in cozy-db.

[2015-04-21 14:36] aenario commented on #87
I am closing this issue, please subscribe to https://github.com/cozy/cozy-db/issues/9

[2015-04-21 14:37] #87 closed

[2015-04-24 10:39] bnjbvr opened #88 "Provide a tool that detects and merges duplicate contacts"
So Google added this in their "contacts preview" app, and it works pretty nicely. After some trials of their tool, I think their algorithm just checks whether full names of any pairs of two contacts are equal (first name + space + last name) and suggests to merge them afterwards (this can be done in O(n log n) time where n is the number of contacts).

[2015-05-04 09:03] arthurlutz opened #89 "Import large vcf file renders browser unusable"
Trying out cozy and importing a large vcard file (2600 contacts) renders my browser unusable on other tabs. The CPU could be a bottleneck as it is showing 100% on firefox in htop.

[2015-05-04 09:04] arthurlutz commented on #89
Sorry a bit more information about my browser : Firefox 37.0.2+build1-0ubuntu with a bunch of extensions. I can provide extra information if needed.

[2015-05-04 13:12] clochix commented on #89
We parse the VCard file in the browser before importing it on the server, so importing a large file may give some work to the browser.
If you let the browser work, does it perform the import after some time ?

@jsilvestre, do you think we could add a wait screen with a progress bar ?

[2015-05-04 13:17] arthurlutz commented on #89
@clochix  the import takes a bit of time (that's ok) and works in the end, it just prevents the user from using his browser for other activities (I ended up firing up another browser for doing something else).

[2015-05-04 13:21] clochix commented on #89
Thanks, so let's say this is an enhancement request ;-) We could try to use Web Workers to perform the import. Or wait for Electrolysis to land in Firefox stable (one thread by tab, currently available in Firefox Nightly)

[2015-05-04 16:08] frankrousseau commented on #89
@arthurlutz Are you sure you have the latest version of Cozy Contacts? That problem was fixed one month ago. I tried with 3000 contacts, it was slow but the browser was useable. Maybe something broke...

[2015-05-05 07:06] arthurlutz commented on #89
using Contacts -  1.1.4

[2015-05-11 05:52] Thatoo opened #91 "Small update to do in github and French translation"
Hello,

In the Github page, the link to the solution to CardDav is still "Cozy Webdav" instead of "Cozy Sync" : CardDAV sync (it requires Cozy Webdav) . It's just before "Install".

Otherwise, in the french translation, when you use Contact, inside the Help Panel, when you explain how works the "Synchronisation mobile (CardDav)", you write "Pour synchroniser votre agenda, utilisez les identifiants

[2015-05-12 21:42] Thatoo opened #92 "Phone icon's action is not working in Firefox OS"
Hello,

I don't know if the problem is from cozy or from FFOS, but when I click on the phone icon on the right side of a phone number of my contacts, in cozy-contacts, it open the FFOS phone app (that's great, I was really impressed) but it dial only "+", no number, just the +, not even +33, just +... (that's what we call an "ascenseur émotionnel", lol).

A bon entendeur,

Thatoo

[2015-05-14 12:10] frankrousseau commented on #91
Than you for reporting. Thatoo. The configuration screen requires some improvements.

[2015-05-14 12:16] frankrousseau commented on #92
Don't know either, but that's something we should optimise. Thank you for reporting.

[2015-05-18 09:04] frankrousseau commented on #79
@AntoineCa It looks fixed, could you try again?

[2015-05-21 14:39] AntoineCa commented on #79
It works perfectly :)

[2015-05-22 09:52] #79 closed

[2015-05-22 15:35] Peltoche opened #93 "Birthday in date format"
Hello!
Can we have the birthday in a calendare type, and we can add an alert?

[2015-05-22 17:59] frankrousseau commented on #93
Yeah sounds natural.

[2015-05-31 10:12] Thatoo opened #95 "import Vcard from FFOS 3.0, error names"
Hello,

When I imported the vcards I had from the export of FFOS 3.0, first and last name were not field. The first and last name were together inside the "other name" field.
I send the two vcard to Frank (I can't put them public :-), the one from FFOS and the one from cozy, after importing the FFOS's one.

I guess that was the reason of a problem with my sync problem with the FFOS apps.
Cheers,
T

[2015-06-01 18:30] f6fvy opened #96 "Suffix should be displayed in the contact list"
Contact suffix (Jr., Sr. or whatever) - if any - should be displayed in the contact list (left column) :

"John Doe, Jr". instead of "John Doe"

to help selecting the appropriate contact from the list.

[2015-06-02 12:51] frankrousseau commented on #96
Thank you @f6fvy for the report.

[2015-06-02 13:11] f6fvy opened #99 "Contacts list mis-ordered when first name is empty"
When using the "First Name - Last Name" order, all contacts with empty First Names (companies etc.) are always displayed first, contrary to the Android order with the same settings.

For example:

Android order :

AUCHAN
Alain BABA
CASTO
John DOE

and CC order :

AUCHAN
CASTO
Alain BABA
John DOE

I guess the same glitch applies when using the Last Name - First Name order with contacts with empty L

[2015-06-02 16:21] frankrousseau commented on #99
Ok thank your for the detailed bug report @f6fvy.

[2015-06-16 12:42] clochix commented on #95
@frankrousseau did you had time to have a look at this one ?

[2015-06-16 13:23] frankrousseau commented on #95
Not yet. It's still on my Todo List.

[2015-06-19 12:11] nicodel opened #102 "Help - Mobile Synchronization talks about Calendar"
Cozy instance hosted on Cozy infrastructure (nicolas-6)
Data System: 2.0.3
Proxy: 2.0.0
Home: 2.0.2
Controller: 2.0.24
contacts -  1.1.4

Step to reproduce:
Open Contacts application
Clock on the Settings icon

What happens:
Settings are displayed, but the Mobile Synchronization talks about Calendar instead of Contacts (see screenshots below)
![capture du 2015-06-19 13-59-58](https://cloud.githubu

[2015-06-25 13:02] clochix opened #103 "Allow to merge duplicate on import"
Reported by a user [in the forum](https://forum.cozy.io/t/bug-import-vcard-bug-graphique-et-probleme-doublons/798/2)

For now, when importing, if we find a contact already in data system, we just discard the new one. This is annoying, as some information in the card of the duplicate may be lost.
We should find a way to merge the new contact into the existing one.

See https://github.com/cozy/cozy-

[2015-06-25 13:25] tetrakos commented on #103
Hi,
I'm the upcited user ;)

Please notice that two contacts may have the same firstname and lastname. Hence, what is detected as a duplicate can be intentional and the two contacts should not be merged. Also, thunderbird only accepts 2 emails addresses per contact which leads to several cards per contact.

Maybe, you could import the contacts without merging and then run a duplicate finder which

[2015-06-25 14:42] clochix commented on #103
Also see #88

[2015-06-25 14:44] clochix opened #104 "Allow to merge two contacts"
As suggested by @ZeHiro [in the forum](https://forum.cozy.io/t/bug-import-vcard-bug-graphique-et-probleme-doublons/798/6).

Also see #88 and #103

[2015-06-27 14:49] f6fvy opened #107 "Multiple records can be created when creating a new contact"
Steps to reproduce this bug :

- Create a new contact (+ button) and enter a name
- Enter a phone number and click outside of any entry field
- The new contact is created, but it stills active
- Enter another phone number, or populate any existing field
- Click outside any entry field
- A *second" contact has been created :-(
- Bottom line : Two contacts are now existing with the same name

[2015-07-01 12:46] clochix commented on #99
Thanks @poupotte, you fixed the sort ☺
@f6fvy can you install the latest version of Contact and confirm it works as expected ?

[2015-07-01 12:50] clochix commented on #96
Yeepee, it works, what a nice job, @poupotte ☺
@f6fvy can you confirm it now works as you expected ?
Thanks to both of you.

[2015-07-01 13:13] f6fvy commented on #96
Much better ! Thanks.

Actually, there is a very minor glitch when there is only a first name and no family name, with a trailing space before the comma.

Ex : "John , Sr" instead of "John, Sr"

but I can live with it ;-)

Thanks again !

[2015-07-01 13:20] f6fvy commented on #99
Very good now. Thanks !

[2015-07-01 13:41] f6fvy opened #108 "Typo : *Fermet* l'édition du nom"
In french, when editing the contact name, the label of the checkmark icon tooltip is "*Fermet* l'édition du nom". Besides this, "Fermer l'édition..." is not very well worded IMHO.

[2015-07-01 16:25] f6fvy opened #109 "Contact photo not displayed when using narrow screen"
When using a narrow screen (phone in portrait orientation for example), the photo attached with the contact is not displayed in the details screen. And it's not editable either.

[2015-07-01 22:03] frankrousseau commented on #95
It should be fixed. @Thatoo could you try to uninstall / install Cozy Contacts and tell us if it's working now.

[2015-07-01 22:03] frankrousseau commented on #95
I only worked on the import case, not the sync case.

[2015-07-02 08:27] clochix commented on #109
Thanks for reporting @f6fvy,

We need to do some refactoring on this app to improve its responsiveness.

[2015-07-02 13:04] #99 closed

[2015-07-02 13:05] #96 closed

[2015-07-02 15:16] clochix commented on #91
@Thatoo thank you for reporting, I think everything has been fixed.

[2015-07-02 15:16] #91 closed

[2015-07-02 15:23] clochix commented on #108
Thanks @f6fvy for reporting and @poupotte for fixing. It will be in next version of the application, in a few days.

[2015-07-06 07:24] clochix opened #111 "Allow to mass delete contacts"

[2015-07-06 07:26] clochix opened #112 "Allow to manage contact groups"
Groups ? Tags ? Distinct notebooks ?

[2015-07-06 16:45] frankrousseau commented on #112
I think this one van be handled via a better tag management.

[2015-07-08 21:30] Thatoo commented on #95
no, it doesn't work.
I deleted the data, uninstall and reinstall cozy-contact. I import the vcard that I previously exported from FFOS and the same, first name and last name are combined in "Autres prénoms".
Do you want I send you my new FFOS vcard file?

[2015-07-10 11:33] jsilvestre commented on #95
@aenario correct me if I'm wrong but this is somewhat an expected behaviour when vcf is ont well formed. There are two fields to handle names ans one of them forces us to put evrything in a single field because we can't guess whatnis first name, middle name or last name (or other). Could it ne thar by any chance? @frankrousseau

[2015-07-11 12:02] frankrousseau commented on #95
The problem is that FFOS doesn't build the name field like other platforms. I don't understand why it doesn't work. I will check for the build, because now it's properly handled by `cozy-vcard`:

https://github.com/cozy/cozy-vcard/blob/master/test/index.coffee#L278-L285

https://github.com/cozy/cozy-vcard/blob/master/test/ffos.vcf

[2015-07-15 10:06] aenario commented on #95
cozy-contacts's master is not built. I just pushed the development branch as master, which include a build, could you please try again ?

[2015-07-17 08:34] Thatoo commented on #95
I'd like to but Data Browser is not working, I can't delete my contacts... last time already, I had to delete them one by one because there were no button to delete them all...

[2015-07-17 08:45] Thatoo commented on #95
Done!
still the same problem.

[2015-07-17 17:10] frankrousseau commented on #95
Sorry @Thatoo. I don't know how to solve that one.

[2015-07-17 17:21] Thatoo commented on #95
I guess it's ok for now, not many people are going to do it.
For me, all my contact are in Thunderbird so I'll import from that. The most important for me now, will be the sync :-)

[2015-07-21 08:38] nicodel opened #115 "Contacts application cannot authenticate"
Hi,

Cozy Cloud instance hosted on Cozy infrastructure (nicolas-6)
Data System: 2.0.6
Proxy: 2.0.2
Home: 2.0.4
Controller: 2.0.27

When I launch the Contacts application, it is appears empty. and when I look at the Contacts logs I have the following:

[code]
I did not try to relaunch or reboot the instance yet, because if I understood well, Cozy staff is looking at more data for this authenticatio

[2015-07-21 08:42] poupotte commented on #115
Thanks @nicodel for your report.

I'm working on this issue. I hope have a correction today.
Acutally, I have enough information so don't hesitate to reinstall your application.

Thanks for your patience :)

[2015-07-21 13:54] clochix commented on #115
Thanks for reporting @nicodel. @poupotte is working on it and we already have lots of other issues on this, so I hope you won't mind if I close this one.

[2015-07-21 13:54] #115 closed

[2015-07-21 14:06] nicodel commented on #115
AAAaaaaah (no it's ok :))

[2015-07-23 12:10] nicodel commented on #92
Hi,
This is more not linked to FFOS.

An additionnal "+" is added before the number registered in the contact details. Consequences for FFOS:
* When a  number is registred as : 01 45 xx xx xx a "+" is added in front, the number displayed in the Phone application is "+01 45 xx xx xx".
* When a number is registered as : +33 1 45 xx xx xx the same "+" is added, and only "+" is displayed in the Call a

[2015-07-23 12:33] nicodel commented on #92
PR #116

[2015-07-23 13:41] Thatoo commented on #92
Thank you!
I'll try as soon as an update of contacts come.

[2015-07-24 21:25] nicodel commented on #92
Hi,

I updated Contacts to 1.1.6 and it is fixed. For both phone number format.

@Thatoo I let you test and close this bug if it works for you too.

[2015-07-26 13:19] Thatoo commented on #92
It works!
Happy.

[2015-07-26 13:19] #92 closed

[2015-07-27 14:02] clochix opened #117 "Error: “Maximum call stack size exceeded”"
Reported by email:
[code]
Probably related to cozy-calendar/312

[2015-07-27 14:51] clochix opened #118 "Server crash"
Here are the logs:
[code]

STR: click on + to add a new contact and try to set its misc information without setting a name.

[2015-07-27 14:53] clochix opened #119 "Add a calendar for date / time fields"
Also validate field value.
See [this thread](https://forum.cozy.io/t/conversion-du-format-de-date-de-naissance-bday/1059)

[2015-07-27 14:56] clochix opened #120 "Wrong date format when exporting to VCard"
We should convert date / time fields to YYYY-MM-DD or ISO-8601. Before being able to do this, we should probably enforce the way users set data / time fields, see #119

[2015-07-28 16:57] clochix commented on #117
Thanks a lot @aenario for this quick fix, I tested it on user instance and everything works fine now :-)

[2015-07-30 05:43] clochix commented on #117
@frankrousseau could we keep the resolved issues opened with the “published” flag, so it's easiest to compile the release note ? Thanks !

[2015-07-30 10:10] clochix commented on #118
A user also [hit this one](https://forum.cozy.io/t/probleme-de-sauvegarde-des-notes-dun-contact-quand-elles-sont-tapees/1073/2) so I fixed it.

[2015-07-30 10:24] #108 closed

[2015-07-31 15:03] jsilvestre opened #123 "Open "import contacts" modal doesn't work if settings are not set"
On Chrome.

[2015-08-02 16:55] frankrousseau opened #124 "Cannot change the contact image anymore"
Hello there,

When I click on the contact picture to change it, the displayed modal is broken. When I click on it without the home top bar, it displays nothing.

What I recommend:

* fix the display bug
* have a traditional upload window as fallback when the modal is not available.

Frank

[2015-08-05 16:45] frankrousseau opened #126 "Import widget is broken"
It's impossible to import contacts anymore. This bug should be high in the maintenance priorities.

By the way the import modal cannot be closed.

reported by @Benibur

[2015-08-08 14:37] Peltoche opened #127 "Base64-encoded picture in name fields"
![Uploading Screen Shot 2015-08-08 at 16.32.11.png…]()
Salut,

Ca fait un moment que je n'ai pas ouvert l'appli contact donc je ne sais pas a quelle version precise ca a beuger ni si s'en est une precise ou l'importation...

Actuellement je suis sous la versions 1.1.7

Tout mon probleme est dit dans la photos... J'ai l'impression que l'app veut passer la photo dans le nom... Peut etre un probleme

[2015-08-10 07:33] clochix commented on #127
Hello @Peltoche,
Il semble effectivement y avoir eu un problème d'import de test contacts. Est-ce que tu les synchronises avec une autre application ?
Lorsque tu affiches le détail d'un contact, est-ce que la version encodée de la photo apparait quelque part ?
Éventuellement, est-ce que tu pourrais exporter un de tes contacts et nous l'envoyer ?

Merci de ce rapport !

[2015-08-10 12:13] Peltoche commented on #127
[code]

[2015-08-10 13:00] #117 closed

[2015-08-10 13:01] #118 closed

[2015-08-10 14:15] clochix commented on #127
Hello,

Le format du champs N dans le fichier me semble invalide, est-ce que tu sais comment tu as créé / importé ce contact ?

[2015-08-10 15:07] Peltoche commented on #127
Hum... Je crois que a la base je l'ai importer d'une app sur telephone apres j'ai fais plusieur import/export avec contact. Sachant que la premiere fois tout allait bien la premiere fois (de souvenir) je pense que c'est votre module d'exportation qui n'est pas compatible avec celui d'imporation (c'est bete quand meme :smile: ) ou qu'il y ai un petit bug de parsing quelque part.

Bonne chance pour

[2015-08-10 15:18] Peltoche commented on #127
En fait j'ai save le fichier que j'ai importer :
[code]

Donc l'export cozy m'as donner cela. Je connais pas bien la syntaxe mais on dirait que le probleme vient de la, ce qui a fait planter l'import apres.

[2015-08-10 15:33] Peltoche opened #129 "Issue validation import"
Salut!

Je suis sous la version 1.1.7 et je bouton "Import" pour l'import des messages ne réagis pas.

[2015-08-10 15:47] Peltoche commented on #129
Corrigé par clochix apparement.

Par contre il y a le bouton "Import" qui reste et si on clique dessus il semble relancer l'import mais a partir d'ou il est deja actuellement. J'ai spammé le bouton pour test est l'app a crasher -> desinstalle/reinstall et c'etait bon.

[2015-08-10 15:57] Peltoche opened #130 "Error parsing Import"
Salut,

Voici l'extrait de fichier a import qui a fait planter, ce fichier a ete generé par une app extern donc je sais meme pas si il est bien parser d'origine.
[code]

Apres l'import le contacte me donne pour titre:
[code]
Ca fait un gros titre...

[2015-08-10 16:07] Peltoche commented on #129
J'ai retesté sans spammer le bouton "Import", tout s'est bien passé mais apres rafraichissement l'app est crashé...

Ps: C'est peut etre lier au faite que j'ouvre la frame dans une nouvelle page pour contourner le probleme du message 1 du file car Clochix n'a pas encore pousser la correction.

[2015-08-10 16:22] Peltoche commented on #130
Par contre c'est juste un cas unique, j'ai d'autres contactes qui on des sont paser pareil mais dont la photo a juste été ignoré:

[code]
Dans ce cas la photo est juste ignoré... Une histoire de "magique number"??

[2015-08-10 16:40] Peltoche commented on #130
J'ai testé avec une autre app, qui a un autre parsing:
[code]
Donne dans le menu de gauche:
[code]
Dans le contact le nom et prenom (Maxime/Aubry Stiffler) sont bien placer mais la photo passe dans le suffix.

[2015-08-10 16:45] Peltoche commented on #127
Le bug est assez simple en faite: le nom et le prenom sont bon dans le contact par contre la photo est passé dans le suffix. Sachant que le format de base dans le menu de gauche est Nom Prenom , Suffix on retrouve la photo dans le menu

[2015-08-11 10:31] clochix commented on #129
Hello @Peltoche,
Il faudra retester une fois le ticket #126 résolu.
Tu dis que l'application est « crashée » après rafraichissement. Comment cela se manifeste-t-il ? Y a-t-ils des logs d'erreur sur le serveur ?

[2015-08-24 08:31] frankrousseau opened #133 "Imported contacts are created twice"
On the forum an user reported that his contact imported created every contacts twice. The same thing happens to me when I create a contact via the User interface.

[2015-08-25 20:33] frankrousseau commented on #126
It was fixed.

[2015-08-25 20:33] #126 closed

[2015-08-28 07:42] brouberol commented on #66
Let me wholeheartedly +1 this.

[2015-08-31 07:43] clochix opened #134 "Contact imported from vcard are created twice"
As reported [by a user on the forum](https://forum.cozy.io/t/doublons-a-limport-de-contacts/1194).

I did some tests with the following file:
[code]

The behavior is random: only some contacts are imported twice. Playing the test several times don't always give the same result.

[2015-09-01 08:39] nicofrand commented on #43
It is a duplicate : https://github.com/cozy/cozy-contacts/issues/111 (for the mass delete part)

[2015-09-02 16:21] clochix commented on #124
This issue is related to the new home modal: it seems this modal only works if the application is inside in an iframe inside Home ☹
Regarding the display bug, we should probably open another ticket in Home repository.

[2015-09-25 09:16] poupotte opened #143 "Improve contacts sort"
I have a contact named 'paul' and an other contact named 'pauline'
In cozy-contacts : 'paul' is displayed after 'pauline'
If I synchronized my contacts in my phone : 'paul' is displayed before 'pauline'
Thus, in first time, I was thinking 'paul' wasn't synchronized with my phone

In my mind, phone sort is more logic than cozy-contacts sort.

[2015-09-25 16:43] m4dz commented on #143
Agree, probably due to my temporary use oof localeCompare for sorting. I'll improve that quickly :smile:. Thanks !

[2015-10-15 11:31] m4dz opened #153 "Revamp data card view component as CompositeView"
CardView contains multiples regions, one is the `data` view. It contains a CollectionView (for datapoints group), each item representing a subset of datapoints (emails, phones, etc). This is counter-productive nor in the Marionette philisophy. Instead, we should set the `DataView` as a `CompositeView` which handles the data, and deals with datapoints subset in their _collection_ part. It'll be mor

[2015-10-19 12:34] aenario opened #155 "Ensure no regression on changes made to master during v2 development"
[code]

The following changes have been made in master while v2 was in development, please make sure they are not losts @m4dz @poupotte

[2015-10-19 13:54] m4dz commented on #155
Client app was rewritten from scratch in V2. Those changes aren't relevant anymore :+1:.

[2015-10-19 13:54] #155 closed

[2015-10-21 06:36] nicofrand opened #158 "Truncate long email adresses"
My contacts has really long (and weird) email adresses. I should probably just remove them but here is
how it is displayed in Cozy:

![cozy-contacts](https://cloud.githubusercontent.com/assets/3419050/10629384/b37d2658-77ce-11e5-9327-6690c358a11d.png)

I don't think I should have to scroll to the right to see the whole line.

[2015-10-29 22:04] frankrousseau commented on #124
No more relevant. I close this issue.

[2015-10-29 22:04] #124 closed

[2015-10-30 12:23] f6fvy opened #170 "Irrevelant search"
The search process is not very relevant. If I enter "paul", all contacts containing the letters p, a, u and l in their names (any order) are displayed ! Pretty useless.

I 'd rather like to see all contacts containing the *word* "paul" instead, in *any* field (ie not limited to name).

[2015-10-30 12:38] clochix commented on #170
Thanks for your feedback @f6fvy.
I think @m4dz worked on it this week, so improvements are coming soon ☺

[2015-10-30 12:41] m4dz commented on #170
Absolutely :smile:! I'm currently working on. If everything goes well, it'll be available for the next release :wink:.

[2015-10-30 12:45] f6fvy commented on #170
Very good ! I'll wait patiently the next release. Thanks !

[2015-10-30 13:02] clochix opened #171 "Be more laxist when importing VCF file"
For now, we first check that file name ends with `.vcf` or `.vcard`, which is not really relevant, then check file content against a regular expression.
I think we should remove this tests and better handle exceptions when parsing the file, so the import won't fail if a contact is not well formated in the file (or if our library is unable to read it).

Also we should use better error messages.

[2015-10-30 13:05] m4dz commented on #171
I agree, but errors should probably better be handled in the cozy-vcard parser (actually it's just a `console.error` call), so apps using the lib may catch errors and deal with them.

[2015-10-30 13:40] #134 closed

[2015-10-30 13:56] m4dz commented on #158
Oh my! Very nice kind of addresses :smile:. Sorry @nicofrand for the delay, I just take a look at this issue. I'll try to do some tricks to improve this quickly.

[2015-10-30 14:06] nicofrand commented on #158
Don't worry, I am not really using it, I was just testing, so take your time.
The addresses are from google+. I think they are used so you can answer to a comment by sending an email.

[2015-11-02 08:48] poupotte commented on #25
This issue is no more relevant with new version.

[2015-11-02 08:48] #25 closed

[2015-11-02 08:49] poupotte commented on #42
It's now possible with new version :)

[2015-11-02 08:49] #42 closed

[2015-11-02 08:49] poupotte commented on #111
It's now possible with new version.

[2015-11-02 08:49] #111 closed

[2015-11-02 08:49] poupotte commented on #43
We can now delete all contacts with new version.

[2015-11-02 08:49] #43 closed

[2015-11-02 08:51] poupotte commented on #66
This issue is deprecated with new version.

[2015-11-02 08:51] #66 closed

[2015-11-02 08:52] poupotte commented on #68
This issue is fixed with new version :)

[2015-11-02 08:52] #68 closed

[2015-11-02 08:53] poupotte commented on #88
This feature was added in new version.

[2015-11-02 08:53] #88 closed

[2015-11-02 08:55] poupotte commented on #89
This issue should be fixed with new version.

[2015-11-02 08:55] #89 closed

[2015-11-02 08:55] poupotte commented on #102
This issue is deprecated with new version

[2015-11-02 08:55] #102 closed

[2015-11-02 08:56] poupotte commented on #103
This issue is fixed with new version.

[2015-11-02 08:56] #103 closed

[2015-11-02 08:56] poupotte commented on #104
We added contacts merge in new version

[2015-11-02 08:56] #104 closed

[2015-11-02 08:57] poupotte commented on #107
This issue is deprecated with the new version.

[2015-11-02 08:57] #107 closed

[2015-11-02 08:57] poupotte commented on #109
This issue is deprecated with new version.

[2015-11-02 08:57] #109 closed

[2015-11-02 08:58] poupotte commented on #112
With the new version, tags can be used as groups.

[2015-11-02 08:58] #112 closed

[2015-11-02 08:58] poupotte commented on #123
This issue is deprecated with new version

[2015-11-02 08:58] #123 closed

[2015-11-02 09:00] poupotte commented on #143
This issue is fexed.

[2015-11-02 09:00] #143 closed

[2015-11-02 09:05] poupotte opened #173 "Tags with accent are badly sorted"
See picture :
![screenshot from 2015-10-28 09 56 55](https://cloud.githubusercontent.com/assets/2659119/10877751/2d65896e-8149-11e5-8b81-0ffd41759718.png)

[2015-11-02 09:13] poupotte opened #174 "Realrtime in tag management"
Step to reproduce :
 * Select a filter with only one contact
 * Remove this tag in the contact
 * Come back to contact list
=> Display contact and message to inform user that none contact correspond to this tag

[2015-11-03 15:39] poupotte opened #176 "Modal doesn't close if user cancel merge"
From [forum](https://forum.cozy.io/t/app-contacts/1103/79)

[2015-11-03 22:52] babolivier opened #178 "Shift+selection"
I don't know if this has already been discussed and/or planned for one of the next updates of the app.

I just updated the app on my Cozy, and discovered we can now select several contacts ("finally" was my first thought). One thing I was disappointed of, however, is that, if I check the box of a contact, hold shift, and check the box of another contact a few lines below, while I'd like the app to

[2015-11-06 10:28] Gara64 opened #179 "Slow merging"
After importation of a lot of contacts (~600), the merging is very slow for each duplicate, and tends to freeze the browser.
As I have dozens of duplicates, it's a bit difficult to manage :)

[2015-11-06 10:39] doubleface commented on #179
Le problème est visible même pour 250 contact en ce qui me concerne. Suffisamment pour qu'on se demande si l'appli n'est pas plantée.

[2015-11-06 15:44] clochix commented on #179
Thanks for reporting and confirming.
@m4dz would you maind having a look at this one ? Thanks !

[2015-11-08 23:00] alpha14 opened #180 "Cannot import a vcf file with \r\n lines terminator"
Error displayed : "The uploaded file isn't a valid VCF/VCard format."
Test file : https://gist.github.com/anonymous/de270cfeb839f1dcd452

[2015-11-09 09:17] PetiPandaRou opened #181 "List contacts by first or last name"
It could be great to choose the way we list contacts in the webapps, by first or last name.

[2015-11-09 11:03] clochix commented on #180
Hi @alpha14,

I'm unable to reproduce this error with your test file.
We perform two tests before trying to import the file: https://github.com/cozy/cozy-contacts/blob/f761c53d71ea7ca929bf573e96a0b5a689b6491c/client/app/views/models/app.coffee#L105
 - check file extension;
 - check file content with a regexp.

Could you perform both tests on your test file. Also, could you check that the file you'

[2015-11-09 14:43] poupotte commented on #181
Hi @PetiPandaRou ,

Actually, you can choose the way to list your contacts :
   * Click on `Settings` (to the left bottom)
   * Select what you want for `Display settings`

[2015-11-09 14:49] poupotte commented on #173
I can't reproduce this issue. I thinks is due to tag `école` was the last tag created.

[2015-11-09 14:49] #173 closed

[2015-11-09 14:56] poupotte commented on #129
Le ticket #126 est maintenant résolu. Du nouveau @Peltoche  ?

[2015-11-09 15:13] Peltoche commented on #129
Il semblerait oui :). Je close le ticket du coup.

[2015-11-09 15:13] #129 closed

[2015-11-09 15:27] alpha14 commented on #180
Hello @clochix,

My bad, i didn't test with the uploaded file.
It's my contact app on android that actually produces a VCF file with \r\n for newlines.

[2015-11-09 16:32] jacquarg opened #182 "Adr datapoints value is String instead of Array"
Previous version used Array to store Addresses. This one use String to store addresses, and cozy-mobile doesn't actually support it (hang on initialisation...). Cozy-vcard may have troubles too.

What is the way to write adress now ? Still Array or back to String ?

[2015-11-09 18:08] clochix commented on #180
@alpha14 do you mean it works if we use \n for newlines, but not with \r\n ?
A user reported once such a problem but we was never able to reproduce it, so I would be very interested if we could investigate this deeper.
Thanks for your help !

[2015-11-10 10:45] clochix commented on #182
@m4dz could you have a look at this please, it's impacting users of the mobile app…

[2015-11-10 10:47] m4dz commented on #182
@clochix yep, i'll do it quickly

[2015-11-11 09:58] alpha14 commented on #180
@clochix: yes, I just tried with my contacts file stripped of '\r', works like a charm.

[2015-11-11 11:00] alpha14 opened #183 "Quoted-Printable encoding not handled"
My android contact app use Quoted-Printable encoding for contacts with accents in their names (vCard 2.1)
The cozy app doesn't decode the content when displaying the contact name.
Here is an example:
[code]

[2015-11-11 13:47] frankrousseau commented on #180
Great, thank you both!

[2015-11-12 08:51] aenario commented on #180
I think it's still actually a bug with vcard files containing "\r\n" instead of "\r", which could happen frequently on windows system. Supporting it is cheap, let's do it.

[2015-11-12 14:39] nicofrand commented on #158
Do not forget the "Merge" popup !

![bug-contacts-long-emails](https://cloud.githubusercontent.com/assets/3419050/11120977/8d7d6b5c-8953-11e5-8150-ef56d72dff31.png)

[2015-11-12 21:05] alpha14 commented on #183
It also seems that the cozy app on android doesn't sync contacts with Quoted-Printable encoding.

[2015-11-13 18:34] nicofrand opened #185 "Contacts should forget the previous merge contact when merging another"
**Steps to reproduce:**

0. Merge two contacts A & B into A
0. Then try to merge 2 other contacts : B & C

**What happens:**
The app asks me whether I want to chose the name of either A, B or C

**What I expect:**
The app should only propose to chose the name of either B or C.

[2015-11-13 18:44] nicofrand commented on #179
See https://forum.cozy.io/t/contacts-sur-consommation-cpu-de-firefox/1567/4?u=nicofrand.
I provided a profile of the performances while merging 2 contacts from a list of 728 contacts.

[2015-11-15 11:12] ArchangeGabriel commented on #179
I had to tell Firefox to continue executing the script three times for each merge. This is indeed very annoying. ;)

[2015-11-15 11:18] ArchangeGabriel opened #186 "[Feature Request] Links in {email,physical} addresses"
I’m not sure whether this is something everyone would want, so maybe make it a configuration option, but I would love to have the two following things:

* Make email address fields be `mailto:` links
* Make physical address fields be osm.org links

Would that be feasible?

Thanks!

[2015-11-15 11:32] ArchangeGabriel opened #187 "[Feature Request/Bug] Multi-lines fields"
Hi,

One thing that I miss a lot in Cozy contacts w.r.t. Google contacts is multi-lines fields. Currently, all fields are displayed on one line, for example an address field is:
1, Rue de Paris, 75000 Paris, France

While in Google contacts I had:
1, Rue de Paris
75000 Paris
France

Which is more respectful of the actual way of writing postal addresses. Maybe the choice for this case should be an

[2015-11-15 12:09] ArchangeGabriel opened #188 "[Feature Request] Change sub-fields order"
Most of my contacts have several phone numbers, e-mail addresses, physical addresses…

I would like to be able to sort them the way I want within their categories, not in creation order (which is the current situation), for example by dragging & dropping them or specifying a display order (number associated with the field).

Thanks, and keep coding this great stuff!

[2015-11-15 12:27] ArchangeGabriel opened #189 "[Feature Request] Structured physical address field"
Hi,

One thing that could be useful is structured physical address field, I mean that for storing and edition, an address could be split this way:

Street:
PB:
City:
State:
ZIP code:
Country:

This would help importing contact from Google (see https://github.com/cozy-labs/import-from-google/issues/38) and probably also future features I have in mind, like sorting or searching using those fields (f

[2015-11-16 10:45] clochix commented on #185
Thanks for reporting @nicofrand, we'll have a look a this.

[2015-11-16 11:02] m4dz commented on #186
Hi!

Thanks for your suggestions. We have *many* things in our roadmap concerning the datapoints interactions. We plan a deep exchange with other apps, such as email for emails or a map-app for physical addresses.

I keep this one open as a remember, thanks for your suggestions :smiley:.

[2015-11-16 11:05] m4dz commented on #187
Hi!

we have a patch to fix this one in address field for the next release coming today. Stay tuned :wink:.

[2015-11-16 11:06] m4dz commented on #188
Hi!

This one is in our roadmap too. I'll probably take some time quickly to add some improvements to the app, I'll try to add this one to the list.

Thanks!

[2015-11-16 11:16] m4dz commented on #189
Hi!

This one is little bit complex, due to the related [VCard RFC for addresses](https://tools.ietf.org/html/rfc6350#section-6.3.1). It describes the address field as a complex array of address parts. But I remains difficult to implement properly because worldwide addresses are too differents across all countries. That's why Google stores the address in a single string, and uses its gmap powered

[2015-11-18 16:16] clochix commented on #183
Thanks for reporting @alpha14.
@m4dz could you have a look at the Contact part ?
@jacquarg shall we open an issue on mobile repo ?

[2015-11-18 16:39] jacquarg commented on #183
I just checked, and I have contacts with accents (and Quoted-Printable in VCard serialisation) which are synchronized through the Android mobile app. So if the problem is confirmed, it more specific.

[2015-11-18 22:15] ArchangeGabriel commented on #187
Hi,

The address part is fixed in the latest released (thanks!), but that’s not OK for other fields, like Notes (and you can’t have custom multiline field too). Should I open separate issues for this two points?

[2015-11-18 23:17] ArchangeGabriel commented on #187
Also, it’s not fully fixed, I’m now having:

1, Rue de Paris
Paris, 75000, France

Instead of the desired:
1, Rue de Paris
75000 Paris
France

But I suppose this is more #189.

[2015-11-19 09:01] m4dz commented on #187
A bug in rendering notes still remains, I'll fix it (but the editable field is already a multi-lined filed). For your address rendering, it seems it's another bug, I'll take a look at it.

I don't really understand where your need to have a custom multi-lined field? For which kind of information do you think it's relevant?

[2015-11-19 09:03] m4dz commented on #183
@clochix it seems the bug is more related to [cozy-vcard](https://github.com/cozy/cozy-vcard) rather than the Contacts nor the Mobile app. Maybe we should move this issue to it?

[2015-11-19 09:28] ArchangeGabriel commented on #187
OK, thanks.

Well, it’s relevant for custom fields, which by definition contains kind of information that are not suited for another field and often not very common. For instance, I store for a lot of my contacts their associative responsibilities in my school over several years, like this:

Name of the field: Associatif
Content:
2012-2013 Président BDE
2013-2014 Comité Vieux
2014-2015 Président F

[2015-11-19 09:31] m4dz commented on #187
Absolutely :smile:! I've never seen this kind of use for custom fields, but it seems to be very accurate. I'lle see what I can do for the next release concerning custom fields :wink:.

[2015-11-20 16:50] clochix commented on #183
:-S
I just parsed above file with Cozy-vcard, and here's the result:
[code]
We need to investigate.

[2015-11-24 16:51] clochix commented on #183
The libraries used by cozy-vcard to handle quoted printable were missing on client side.

[2015-11-26 08:12] clochix commented on #178
Thanks for your suggestion @babolivier.
I think we already allow multi-selection with Shift in Emails, so it would be nice to have it also in Contact.

[2015-11-29 18:41] dkm commented on #180
Same here. After changing line ending, vcf is imported as expected.

[2015-11-30 11:49] dkm opened #192 "Importing "large" vcf triggers "long runnning script" warning in firefox"
When importing a VCF with nearly 200 contacts, the process is rather slow, and after some time, firefox complains about the javascript executing for a long time (with the popup asking for "wait a bit more" or "stop script").

[2015-11-30 14:41] clochix commented on #192
Thanks for reporting @dkm
We are aware of performance issues when importing large VCF files, and @m4dz is working on it. A new version of the application should be available soon that we home will fix this.

[2015-12-01 15:44] clochix commented on #180
@m4dz did you remove the regular expression used to validate the VCF file, in the soon to be released next version?

[2015-12-01 15:53] m4dz commented on #180
Not at this time and currently the release will probably be delayed later due to some remaining bugs… More coming soon :smile:.

[2015-12-01 16:23] ArchangeGabriel commented on #189
You’ve probably found those things already, but just in case there are some discussions here:
http://stackoverflow.com/questions/11160192/how-to-parse-freeform-street-postal-address-out-of-text-and-into-components (and all the mentioned links in OP)

Also a bit here (not linked from the former):
http://stackoverflow.com/questions/16413/parse-usable-street-address-city-state-zip-from-a-string

[2015-12-01 16:29] ArchangeGabriel commented on #189
And the most relevant part I think:

[2015-12-03 11:59] clochix commented on #189
Thanks @ArchangeGabriel, we'll have a look at your links when we'll work on the feature.

[2015-12-04 09:01] #176 closed

[2015-12-04 09:03] clochix commented on #183
Hi @alpha14,

The problem with quoted printable should have been fixed in 2.1.2, could you give it a try?

[2015-12-07 21:15] alpha14 commented on #183
Hi @clochix,
Thanks, it works great now !

[2015-12-07 21:15] #183 closed

[2015-12-15 11:44] aenario opened #195 "Possible to double create a contact"
I did some test while my Data-System was heavily loaded, but it could happens if the network is slow too.

When I click create on a new contact, I dont have a spinner, I was not sure if the creation was fired or not, so i clicked again. The contact was then created twice.

We should probably add a spinner to the creation and prevent triggering another creation while the first is in progress.

[2015-12-16 16:30] clochix opened #197 "client error: `this.ui.content[0].getBoundingClientRect is not a function`"
[code]

[2015-12-18 16:19] f6fvy commented on #170
Several releases passed since Oct 30, and still no improvement on this matter. Just saying ;-)

[2015-12-21 08:32] poupotte commented on #186
Related to https://github.com/cozy/cozy-contacts/issues/84

[2015-12-21 09:49] clochix commented on #170
Hi @f6fvy, sorry for not giving any news. Unfortunately, we had to update our priorities, and didn't find time yet to release the search improvements. But it's still on our roadmap and we hope to release it soon. Stay tuned ;-)

[2015-12-21 16:32] poupotte opened #198 "Contact edtion doesn't modify field 'fn'"
**Reproduce :**
 * Change a contact name
 * In database `n` is modified but `fn` is still the same.

**Consequence :**
 If I synchronize my contact with my phone : In menu, contact is displayed with wrong name (`fn`) but if I try to modify it, for each fields, contact has correct field (`n`).

[2016-01-02 16:53] f6fvy opened #199 "Export doesn't work"
v2.1.3

After selecting one or several contacts, the "Export" button shows up, but clicking on it doesn't do anything.

This faulty behavior is the same for the Export button located in the "Setup" dialog.

[2016-01-05 15:57] clochix commented on #199
Hi @f6fvy,
Thanks for reporting. Do you see any error inside your browser console, or in server logs?

[2016-01-05 16:11] f6fvy commented on #199
1/ Correction : It doesn't work with "SELECT ALL" contacts checked (or the export button in the settings dialog). If I manually select several contacts, it works...

2/ I get this trace error in the console :+1:

---

TypeError: a.join is not a function "https://laurenthaas.cozycloud.cc/apps/contacts/scripts/vendor.js" 9 43 TypeError: a.join is not a function
Trace de la pile :
h@https://laurentha

[2016-01-05 16:25] clochix commented on #199
Thanks, @f6fvy,
It's seems to be the same error [also reported on the forum](https://forum.cozy.io/t/contacts-export-de-plusieurs-contacts-non-fonctionnel/1793/3).

Probably in [function exportAdr](https://github.com/cozy/cozy-contacts/blob/master/client/vendor/cozy-vcard-0.2.14.js#L807) called in `VCardParser.toVCF`.

[2016-01-05 16:33] clochix commented on #199
@frankrousseau I reproduced the issue and can confirm it's because we call `exportAdr` whith `options.value` as a string, while an array is expected.
It has [already been fixed](https://github.com/cozy/cozy-vcard/commit/a2d683efd18031073a1f1b6a46053a99e3bf153e) in `Cozy-vcard`, so we just need to update the dependency to the latest version of CozyVcard

[2016-01-05 16:36] f6fvy commented on #199
Thanks for your great support.

[2016-01-05 17:10] frankrousseau commented on #199
Great thank you @clochix. I make a PR tonight for this.

[2016-01-08 11:13] aenario commented on #195
@frankrousseau added the loader in #203

I leave this issue open only for the second part now

**prevent triggering another creation while the first is in progress.**

[2016-01-13 10:00] ArchangeGabriel opened #205 "[Bug] Sorting/listing of contacts with special characters"
I’ve realized that part of my contacts, which first name starts for instance with “É” or “È”, are put at the end of the list, in the “#” category. While, for instance, the multiples “Theo” and “Théo” I have are sorted altogether by their last name (however, I’ve just seen that they are mixed with some “Th{e,é}odore” and others “Th{e,é}ophile”, another issue I suppose).

So, this is an inconsistent

[2016-01-13 12:44] poupotte commented on #205
Thanks @ArchangeGabriel for reporting :)

[2016-01-13 13:28] f6fvy commented on #199
Ticket update

With version v2.1.4, the export file is now created, *but* there are no phone numbers (at all) in it ! Same issue with individual (or grouped) selection.

So, for now, the export is still not usable :-(

[2016-01-15 09:55] clochix opened #206 "Some fields are not displayed after contact creation"
Reported on [the forum](https://forum.cozy.io/t/app-contacts/1103/99):
Create a contact, fill some fields and add a tag, then save the contact, and edit it : only the firstname and the tag are displayed. (other fields have been saved, you can see them if you reload the page).
This seems to only happen when I add a tag.

Maybe related: when I create a new tag, it doesn't show up in the tag list, so

[2016-01-15 10:02] clochix opened #207 "Make the urls clickables"
As [requested by a user](https://forum.cozy.io/t/app-contacts/1103/100) : if would be nice to be able to click on URL in the contact details.

[2016-01-15 10:10] poupotte commented on #182
This issue is now fixed. Thanks @m4dz

[2016-01-15 10:10] #182 closed

[2016-01-15 16:06] clochix commented on #199
Seems like another problem with cozy-vcard. I just [fixed a typo in the lib](https://github.com/clochix/cozy-vcard/commit/747efc51c86cdd949765d66b4ebe9c210c194dea), @m4dz would you mind applying this fix by hand on your working directory and see if it fixes the export of tel, address, email and url?

[2016-01-15 16:42] frankrousseau commented on #199
This issue depends on the context. On my Cozy it works well. Maybe that some fields lead to an error. @f6fvy Do you know if your contacts have something special?

[2016-01-15 16:55] poupotte opened #209 "Contact export is broken"
Contacts datapoints are lost during export.

[2016-01-15 16:56] f6fvy commented on #199
Most of them don't have address or email if it matters. The phone numbers are using the fields named Cell or Voice or Home. They are displayed in the app without any problem.

But even with one contact selected only, I never get a phone number in the export. Rather strange.

[2016-01-18 09:29] clochix commented on #209
Isn't it a duplicate of #199 ?

[2016-01-18 09:31] clochix commented on #199
I can confirm, I have the save behavior as @f6fvy, and having a look at our vcard library, I found a typo in the code that may affect export of some fields.

[2016-01-18 09:56] poupotte commented on #209
You right :) . I close this issue.

[2016-01-18 09:56] #209 closed

[2016-01-19 10:05] m4dz commented on #199
@clochix cozy-vcard 0.2.17 is now on the development branch. Can you make a try and tell me if it's solved?

[2016-01-19 15:59] f6fvy commented on #189
IMHO, having a multi field UI is not so bad. 2 or 3 address fields + city + zip + state/prov + country do the trick for the vast majority of places worldwide. It works this way for my address book on Android and Thunderbird, and so many e-commerce websites.

Having an automatic parser is probably sexier, but in the meantime, please consider the above solution.

[2016-01-21 10:26] m4dz opened #218 "Wrong localisation for "main" in french"
Email datapoints labels are wrong in fr: _main_ is translated _internet_, which seems to be confusing.

[2016-01-21 10:35] m4dz opened #219 "Truncate long email addresses"
Long emails addresses (such as github automate sender) broken rendered layout. We need to truncate them and find a way to view them full, copy, etc (tooltip, action button, whatever). ~~@kelukelu any thoughts about it?~~

Ok, so we just force wrapping in multiple lines :+1:

[2016-01-21 10:49] m4dz opened #220 "Tag doesn't pop in suggestion list at creation"
**Problem**

When creating a tag, it doesn't pop into the suggestion list if its already present in the DS

**Step to reproduce**

1. edit a contact
2. dropdown the tags list
3. create a tag that already exists in the DS but that isn't already linked to a contact (so _not_ visible in the drawer)
4. the contact is properly added to the contact, but doesn't pop into the list

**Solution**

The tag c

[2016-01-21 10:55] m4dz opened #221 "Avatar refresh on tag filtering"
**Problem**

Avatar isnt refreshed when filtering by tag

**Steps to reproduce**

1. filter your contacts on a tag
2. if the contacts that now appears in the viewport are previously outside of the viewport, their avatar isnt loaded

**Solution**

Force avatar refresh on tag filtering

[2016-01-21 11:00] m4dz opened #222 "Limit search to a median result"
When doing a free-typed search, search results are sorted by a score, computed from the matching pattern. As long as you type, your search'll be more accurate, so first results tends to have a high score. To limit noise with end-list containing irrelevant search results, I suggest we limit the results to ½ of the higher score if this one is higher than 5.

**Example**

We make a search on the stri

[2016-01-21 19:36] dkm opened #224 "select-all not visible until at least one contact selected"
First time you need to 'select all', it is not clear that you need first to select one contact to be able to click on the 'select all' button.
There should be something more explicit.

[2016-01-21 19:38] dkm opened #225 "VCF with DOS line ending does not work"
Having a VCF file with windows/dos format (^M at eol) are rejected as "not a VCF" file by contacts.
Simply removing ^M works

[2016-01-21 19:52] dkm opened #226 "web browser heavy load at import"
when importing a VCF with ~100 entries, the browser begins to slow down really hard (it is not usable).
Memory usage grows as long as contacts are being imported.

When importing is finished, browser comes back to life.

Browser is iceweasel 44.0b6

[2016-01-22 15:10] m4dz commented on #224
Hi @dkm

It's a good point of view. I'm not sur a "select all" button always visible must be the best solution, as you generally doesn't often need to select all your contacts. What do you have in mind about it?

/poke @kelukelu

[2016-01-22 15:13] dkm commented on #224
On 22-01-2016 16:10, M4D wrote:

What I have in mind is maybe a simple reflex: when you can use checkbox
to select one or several lines, very often, there is a checkbox in the
first line, above the first entry, that selects all lines.

Similar to what you can find on google with "checkbox select all". See
for example :
http://www.ssw.com.au/SSW/standards/rules/Images/SelectAllCheckBox_Web.jpg

Mar

[2016-01-22 15:53] poupotte opened #227 "When user hasn't contacts in his cozy, we shouldn't display letters."
![screenshot from 2016-01-19 15 36 32](https://cloud.githubusercontent.com/assets/2659119/12515412/9446994c-c128-11e5-9609-8c8dc6f3ac7d.png)

[2016-01-22 16:00] clochix commented on #226
Hi @dkm,
Thanks for reporting. We are currently working hard to improve performances of the application, we hope to publish a new, more reactive version, very soon.
Stay tuned ;-)

[2016-01-22 16:02] clochix commented on #225
Thanks for reporting @dkm,
I close this one as it's a duplicate of #180. The bug has been fixed, and I hope the fix will be published soon.

[2016-01-22 16:02] #225 closed

[2016-01-22 16:03] clochix commented on #180
Ccing @dkm who also reported this issue.

[2016-01-22 16:59] poupotte commented on #198
It works well. Thanks @m4dz :+1:

[2016-01-22 17:02] poupotte commented on #199
This issue should be fixed in the next version :) .

[2016-01-25 11:55] #199 closed

[2016-01-25 12:20] poupotte commented on #198
This issue is fixed in new release : v2.1.5

[2016-01-25 12:20] #198 closed

[2016-01-25 12:21] poupotte commented on #199
This issue is fixed in new release : v2.1.5

[2016-01-25 14:07] f6fvy commented on #199
Yippee ! It's working now ! Thanks @clochix @poupotte @frankrousseau @m4dz et al. !

[2016-01-26 12:27] #181 closed

[2016-01-26 16:33] poupotte opened #228 "Refactor contacts merging"
This issue allow to solve :

* https://github.com/cozy/cozy-contacts/issues/179
* https://github.com/cozy/cozy-contacts/issues/185
* https://github.com/cozy/cozy-contacts/issues/185

[2016-01-26 16:36] poupotte commented on #133
@frankrousseau this issue is older than new contacts application, Did you succeed to reproduce this issue ?

[2016-01-26 16:39] poupotte commented on #130
@Peltoche ce bug date d'avant la réécriture de l'application Contacts, est-ce que tu as encore le problème (si tu peux encore le reproduire) ?

[2016-01-26 16:53] poupotte commented on #218
I don't reproduce on my cozy for the moment.

*internet* doesn't correspond to a translation in transifex (https://www.transifex.com/cozy/cozy-contacts/viewstrings/#fr/client?qt=internet).

[2016-01-26 17:00] poupotte commented on #170
Hi @f6fvy , in new Contacts version, there is a score for search. In other words, if you search 'paul', first results correspond to contacts called 'paul'.
We want to add a limit of score to remove irrevelant results, see https://github.com/cozy/cozy-contacts/issues/222, what do you think about that ?

[2016-01-26 17:02] poupotte commented on #219
I close this issue it's a duplicate of https://github.com/cozy/cozy-contacts/issues/158

[2016-01-26 17:02] #219 closed

[2016-01-26 17:16] Peltoche commented on #130
Impossible de reproduire donc je pense que c'est ok.

[2016-01-26 17:16] #130 closed

[2016-01-26 17:24] ArchangeGabriel commented on #218
Hum, it seems to be /main/ now. Still not good, but I can’t find it in transifex.

[2016-01-26 18:53] f6fvy commented on #170
Hi @poupotte - Much better now indeed, and adding a minimum score is probably desirable. But, please consider also including other fields, like organization or notes, in the search process.

Use case : I entered a contact from a guy working at Tartempion Inc, but I can't remember his name and I need to call him...

[2016-01-26 19:07] frankrousseau commented on #227
I can't reproduce the issue. Do you have any idea of how I could reproduce it?

[2016-01-26 19:10] #133 closed

[2016-01-27 11:05] clochix commented on #227
Unable to reproduce, when I have no contact, the indexes are hidden.

[2016-01-27 11:21] clochix commented on #218
The datapoints types are defined in https://github.com/cozy/cozy-contacts/blob/master/client/app/config.coffee#L7 and doesn't appear that we can translate them for now.
@m4dz are this keys just missing in the english local file, or don't we have a mechanism to translate them?

[2016-01-27 12:38] poupotte commented on #227
Same here, I don't arrive to reproduce. I propose to close this issue, if someone has this issue, don't hesistate to reopen it !

[2016-01-27 12:38] #227 closed

[2016-01-27 16:53] m4dz commented on #218
The case for datapoints labels is a little bit tricky : you can use whatever you want as a label for a datapoint (thanks to the VCard RFC) but you also be encouraged to use some default labels, like _MAIN_, _WORK_ or _HOME_ (thanks again to the RFC). My thoughts is to give to the user a list of standard labels, which can be translated, but let him customize them if he wants (and then sync custom l

[2016-01-28 13:15] aenario commented on #218
How about using tagit which we already use for tags ?

[2016-01-28 20:15] m4dz commented on #218
Not sure, but it can be a nice option, Let's take a look at it :smile:.

[2016-02-03 11:56] misstick opened #235 "Changing once a contact trigger two `change`events"
1. I click on 1 contact,
2. I click on a tag,
3. the tag is added in the card,
4. `updateTags` is called once,
5. model ‘contact’ is changed once,
6. `contact.change`event is recieved twice.

I seems to come from this :
`@listenToOnce @, 'sync', -> @contactListener.watch @`
client/app/collections/contacts.coffee l51

[2016-02-03 16:39] nicofrand commented on #158
Same issue when clicking on the "Duplicates" button (without selecting any contact first):

![bug-cozy](https://cloud.githubusercontent.com/assets/3419050/12789188/10db867a-ca9d-11e5-8fe2-fb7b0fef7bc0.png)

[2016-02-03 16:55] nicofrand opened #239 "[Request] Shortcut to letters block"
I have a lot of contacts and therefor I would like the application to automatically scroll to my contacts beginning with the letter J when I type J (wherever in the window as long as the window has the focus).

This is particularly useful when I want to merge 2 contacts : one beginning with "A" and the other with "J" (since the contacts selection is reset when I search a contact from the search fi

[2016-02-08 14:58] nicofrand commented on #158
Fixed with the last update !

[2016-02-08 15:32] poupotte commented on #222
Fix on new version (2.1.6). Thanks @m4dz !

[2016-02-08 15:32] #222 closed

[2016-02-08 15:32] poupotte commented on #221
Fix on new version (2.1.6)

[2016-02-08 15:32] #221 closed

[2016-02-08 15:33] poupotte commented on #206
Fix on new version (2.1.6)

[2016-02-08 15:33] #206 closed

[2016-02-08 15:33] poupotte commented on #192
This issue should be fix on new version (2.1.6). @dkm : it's ok for you ?

[2016-02-08 15:33] #192 closed

[2016-02-08 15:34] poupotte commented on #226
This issue should be fixed on new version (2.1.6). @dkm, is it ok for you ?

[2016-02-08 15:34] #226 closed

[2016-02-08 15:40] m4dz opened #246 "Bulk action delete fails if called on a single contact"
If the user selects only one contact, then the *delete* action (which called the bulk delete) failed.

[2016-02-08 15:42] m4dz opened #247 "Disable merge option if only one contact is selected"
When user selects a contact in the list, the contextual menu appears. It should disable the _merge_ action as long as you can't merge only one contact.

[2016-02-08 21:22] frankrousseau commented on #246
I think it's related to a wrong build. In development everything works fine.

[2016-02-09 14:05] m4dz commented on #246
@frankrousseau good news! To test with the next build so.

[2016-02-09 18:10] aenario commented on #246
@m4dz : I dont understand, does the fix from this morning fix it for you ? If could you please close this issue :heart:  ?

[2016-02-10 08:55] m4dz commented on #246
With all my :heart:, sweeties :smile:!

[2016-02-10 08:55] #246 closed

[2016-02-17 15:40] clochix opened #249 "TypeError: Cannot read property 'attr' of undefined"
On client side.
According to the error stack, seems to be in [appLayout.error](https://github.com/cozy/cozy-contacts/blob/7990ea0de6ee686f16f12cc2a9da70db7d70a0f6/client/app/views/app_layout.coffee#L217) when error is `ERR.SEARCH_TOO_SHORT`.

Also, the translation of `error search too short` some lines after seems missing.

[2016-02-23 11:14] m4dz commented on #235
The recent refactor of [models events lifecycles](https://github.com/cozy/cozy-contacts/commit/3f32a3d4a98a1f2b94a825a3589a1c6dbd00d490) should have fixed this one.

[2016-02-23 11:14] #235 closed

[2016-02-23 11:17] m4dz commented on #171
No more tests on file ext are performed.

[2016-02-23 11:17] #171 closed

[2016-02-23 11:17] #180 closed

[2016-02-23 11:19] m4dz commented on #32
Fixtures are now generated _via_ Mockaroo service. I need to add more fields like tags and pictures, and faker can also be a good provider, but I close this one as long as we have fixtures already working :wink:.

[2016-02-23 11:19] #32 closed

[2016-02-23 13:38] jsilvestre opened #251 "Space in label breaks search"
If you create a label with a space in its name, tag some contacts with it; then select it to filter the contacts list, all contacts are displayed.

[2016-02-23 13:49] clochix commented on #171
Thanks!

[2016-02-23 16:24] clochix opened #252 "Allow to remove contact picture"
User have no way to remove the picture of a contact.

[2016-03-02 13:56] poupotte commented on #170
Hi @f6fvy , we published a new Contacts version (2.1.9). In this new version, we can search on other fields than name.

[2016-03-02 14:04] f6fvy commented on #170
Hi @poupotte - Thanks !

[2016-03-02 14:05] #170 closed

[2016-03-27 14:23] clochix opened #254 "SyntaxError: An invalid or illegal string was specified"
A user [reports problems with this labels](https://forum.cozy.io/t/probleme-synchronisation-contacts/2233) of its contacts. Here's the error in the logs:

[code]

[2016-03-31 12:39] Thatoo opened #255 "search in Notes"
Would it be possible to search in the Notes of our contacts?
I speak about solutions on the forum : https://forum.cozy.io/t/app-contacts/1103/101

[2016-03-31 12:44] m4dz opened #256 "Add a dropdown menu to target search fields"
When doing a search, we performs the matching to a default subset of field. We can add a dropdown to the search that let user choose explicitely on which field the search must be performed.

[2016-04-01 13:52] clochix commented on #255
Thanks for suggesting @Thatoo ☺

[2016-04-07 15:58] m4dz opened #258 "Edit view on small viewports isnt usable"
On small viewports (say, mobile device in portrait mode), the edit view isnt efficient as its input fields overflow the box width.

Having a render mode (put fields below the label?) is needed for addressing this kind of views.

[2016-04-09 06:57] clochix opened #259 "Uncaught TypeError: e.toLowerCase is not a function"
Seen in a user's logs:
[code]

[2016-04-09 07:01] clochix opened #260 "Error: "There should be at least a N field or a FN field""
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):

[code]

[2016-04-09 07:02] clochix opened #261 "Uncaught TypeError: this.ui.content[0].getBoundingClientRect is not a function"
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):
[code]

[2016-04-09 07:04] clochix opened #262 "Error: Failed to execute 'insertRule' on 'CSSStyleSheet'"
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):

[code]

[2016-04-09 07:05] clochix opened #263 "Uncaught TypeError: undefined is not a function"
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):

[code]

[2016-04-09 07:05] clochix opened #264 "Uncaught ChildViewContainerMissingError: The specified "childViewContainer" was not found: [role="grid"]"
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):

[code]

[2016-04-09 07:07] clochix opened #265 "Uncaught TypeError: Cannot read property 'length' of null"
See rems errors in [this feed](https://forum.cozy.io/t/app-contacts/1103):

[code]

[2016-04-12 08:03] clochix opened #267 "Use society name as display name"
As requested by lelabtv in [this thread](https://forum.cozy.io/t/premiere-experience-avec-cozy/1950).

If a contact is a society, without first nor last name, we should display the society name in the list.

[2016-05-02 13:42] clochix commented on #251
Also reported [on the forum](https://forum.cozy.io/t/app-contacts/1103/123).

[2016-05-31 06:53] poupotte opened #268 "Issue on duplicate interface"
![capture du 2016-05-31 08 48 21](https://cloud.githubusercontent.com/assets/2659119/15665746/1605a456-270d-11e6-8f6e-611d7fdd2bae.png)

[2016-06-01 13:42] clochix opened #269 "Check publication of translations"
Found int he logs of a german user:
[code]

Seems like the german locale is missing in the build files.

[2016-06-01 14:33] clochix opened #270 "Add a merge all feature"
Suggested [on the forum](https://forum.cozy.io/t/contacts-dealing-with-a-lot-of-contacts/1679/8). A user has a lot of duplicate contacts that he would like to quickly merge:

[2016-06-03 12:44] clochix opened #271 "Create labels from groups when importing vCard"
A user exported some of its contacts from Google as vCard, and loose their Group when importing them into Cozy.

[2016-06-03 12:48] DelphineM commented on #271
+1

[2016-06-03 13:44] clochix opened #272 "Allow to tag a batch of contacts"
As requested by @DelphineM: it would be nice to be able to select some contacts and add a tag to them.

[2016-06-03 14:35] frankrousseau commented on #272
Related to https://github.com/cozy/cozy-contacts/pull/240

[2016-06-16 19:41] m4dz opened #273 "Fields labels defaults"
Seems that some VCard clients (like Evolution) doesn't display a field in a card if it associated label is misunderstood. And it seems that our `MAIN` default choice is one of them. See the [forum thread](https://forum.cozy.io/t/carddav-sync-issue-missing-address-field-in-synced-devices/2667) about it.

I suggest we collect all kind of fields' labels used by more popular clients (iOS/MacOS, Androi

[2016-06-20 10:19] clochix opened #274 "Use email address when looking for duplicates contacts"
As {requested by a user](https://cyrilnovel.cozycloud.cc/public/blog/agenda-et-contacts/).

[2016-06-22 06:02] clochix commented on #272
Another user is [requesting this feature](https://forum.cozy.io/t/app-remarques-contacts/2754).

[2016-06-24 14:47] clochix opened #275 "Remove BOM from exported VCF file"
When exporting contacts to VCF, the file starts with a UTF8 BOM char that prevent importing it in some third party softwares.

[2016-06-25 14:21] dkm commented on #270
+1

[2016-06-27 12:35] clochix opened #276 "Allow to choose informations displayed in the list"
A user would like to display last name before first name.

Also, according to their culture, users may want to choose the fields displayed and their order.

[2016-06-28 15:13] Stricnis opened #277 "Removed contacts with double dashes on mobile"
Hi,

I've started using Cozy Cloud today from my computer and with the Android app on my mobile. I first synchronized my contacts from Google. Import operation ran fine and helps me spotting many duplicates in my Contacts list. So I merged/removed many contacts from Cozy Cloud web app in the browser.<br/>
Contacts were sync'ed to my mobile, except that contact appearing as merged in Cozy Cloud are

[2016-06-30 07:48] clochix commented on #277
Hi @Stricnis,

Thanks for your report. I don't know if this issue comes from the contact application or the mobile application. The later is in charge of syncing contents between your phone and your server.

Are your contacts also synchronized between your phone and Google?

Are you self-hosted or using one of our beta test instance? (asking to have a look at the logs).

[2016-07-01 08:22] Stricnis commented on #277
Hi @clochix,

I'm using one of your beta instance.

I've disabled Contact sync on my Google account, resync many times from Cozy mobile but still get these contacts with double dashes on my phone. However, they don't appear at all in my browser when I browse Contacts from Cozy web app.

[2016-07-01 13:17] clochix commented on #277
Could you send us an email ( contact at cozycloud.cc) with the URL of your server, so I can have a look at its logs?

@kosssi : any thought on this?

[2016-07-01 13:37] Stricnis commented on #277
Message sent. Forgot to add a reference to this thread, even though I replied to the Github notification email. Hope it will be enough, I can resend if necessary.

[2016-07-08 12:53] clochix commented on #277
Sorry for replying so late.
I had a look at the logs on your server, and find nothing suspicious.

I also had a look inside database, and didn't find any contact with the double dash.

Could you [send us the logs](https://docs.cozy.io/en/mobile/trouble.html) of the mobile app, so we look for any errors in there?

[2016-07-11 14:21] kosssi commented on #277
The double dash is added by Android system, in your Cozy it's contact without name on bottom list ;)

[2016-07-14 11:25] isaring commented on #260
Same error appears in the log file when I try to import a *.vcf file with contacts that contains special chars in their names / firstnames.

Then  an entry is created in the contact list under the "#" section: picture and phones are displayed but there are no names / firstnames and I can't edit their informations (no modal opens up).

[2016-07-18 06:44] clochix commented on #260
Thanks @isaring.
Which “special char” triggers this error? I just tried to use some diacritics in names and am unable to reproduce this issue.

[2016-07-18 08:06] isaring commented on #260
@clochix : all of them ! For example : é, è, ï...

Maybe the error occurs because of the file encoding ? My *.vcf file comes from unitary *.vcf files merged together (one *.vcf for each contact). And every single *.vcf file comes from a Nokia Suite export.

[2016-07-20 05:19] clochix commented on #260
Could you send us at contact (at) cozycloud.cc one of this vcf file so I try to reproduce the issue?

[2016-07-20 05:40] isaring commented on #260
@clochix : done. ;)

[2016-07-21 14:08] clochix commented on #260
Thanks a lot @isaring, I got it ☺
There's an issue in our VCARD parsing algorithm. Your file contains the following line:
[code]
Our algorithm expects the `encoding` and `charset` parameters to be in reverse order:
[code]
We'll try to fix this soon.

[2016-08-11 14:20] jsilvestre commented on #95
Unfortunately, Firefox OS looks like a dead project, so we close it :(

[2016-08-11 14:20] #95 closed

[2016-08-12 13:18] jsilvestre commented on #179
This has been taken into account in #228, so we close here.

[2016-08-12 13:18] #179 closed

[2016-08-12 13:44] #197 closed

[2016-08-12 15:11] poupotte commented on #268
This issue is now fixed.

[2016-08-12 15:11] #268 closed

[2016-08-16 07:37] sushinger opened #280 "Enable vCard attribute Categories - support Groups feature in macOS address book"
Hi,

in macOS addressbook.app it's possible to group contacts using their vcards categories-attribute.

Please support this :)

Thank you,
Sascha

[2016-08-17 07:32] jsilvestre commented on #280
Thank you for the suggestion, I can't tell you wether it'll be planned or not just yet. I let you know if we start working on it!

[2016-08-17 11:13] guyou commented on #186
And what about adding a link with the schem `tel:` to phone numbers (+ some processing to avoid spaces)? This would allow direct call from any smartphone.

Cf. http://www.ietf.org/rfc/rfc3966.txt

[2016-08-21 04:09] hansbkk commented on #280
I believe that Android/gContacts' implementation of "groups" is different. Ideally the user could choose one or the other format as the "backend", and incoming records using "the other" one would then automagically get converted to the chosen 'standard'.

And a whole collection batch-converted if needed, as when switching ecosystems.

Forgive if pie in the sky is a derail.

[2016-08-22 16:34] m4dz commented on #186
@guyou you're right, I'll add it to the list, thanks!

[2016-08-24 13:56] poupotte commented on #220
This issue seems fixed now.

[2016-08-24 13:56] #220 closed

[2016-08-29 13:00] jaller94 commented on #258
Even worse, they also overflow the box vertically.

![cozy-contacts-voverflow](https://cloud.githubusercontent.com/assets/10872136/18052126/d0a6452c-6df8-11e6-8fca-851f6852eac0.png)

### Cozy platform
**Data System:** 2.5.12

**Proxy:** 2.5.14

**Home:** 2.5.19

**Controller:** 2.5.10

**Contacts App:** 2.1.11

### Browser
**Browser:** Firefox 45.1.1

**Resolution:** 372x554

[2016-08-29 13:15] jaller94 opened #282 "The X of a dialog does not close it on small screens"
On the following screenshot every grey area does close this dialog except for the spot of the white X where uses would expect the action.

### Expected behaviour
Let this dialog be closable by clicking on the grey area as well as the white X.

### Code in question
[code]
/apps/contacts/stylesheets/app.css

### Cozy platform
**Data System:** 2.5.12

**Proxy:** 2.5.14

**Home:** 2.5.19

**Controller

[2016-08-29 14:52] jaller94 opened #283 ""Are You Sure ..." dialog unusable under 50rem screen width"
Create a new contact. While doing so Cancel the creation. A dialog should appear: "Are you sure you want to leave?" If your screen width is lower 50rem it's unlikely the text and buttons of this dialog are on screen.

![cozy-contacts-are-you-sure](https://cloud.githubusercontent.com/assets/10872136/18055416/0250a860-6e08-11e6-8014-45eda5e5944f.png)

### Expected behaviour
The dialog should be with

[2016-08-30 09:01] m4dz commented on #189
A possible implementation for address formating: https://github.com/OpenCageData/address-formatting

[2016-08-31 05:23] Thatoo commented on #95
no, B2G OS is the name of the code project. It's not dead.
The commercial project has changed. That's it.

[2016-08-31 15:59] clochix commented on #283
Thanks a lot for this very detailed bug report @jaller94 !

[2016-09-02 13:52] dasga commented on #188
+1 plz =)

[2016-09-05 15:01] kazord commented on #283
same probleme with delete contacts ([keep it] / [delete]) confirmation

[2016-09-06 12:34] clochix commented on #274
I save the example here:
![merge](https://cloud.githubusercontent.com/assets/384908/18273711/01027348-743f-11e6-9b7e-9aa8bf192978.png)

[2016-09-07 16:09] gregorylegarec commented on #265
__Reproduce__ :
* Set cursor into search field
* Don't type any string
* Press enter

[2016-09-07 16:55] gregorylegarec commented on #263
I assume that the call responsible of this error is this one:
https://github.com/cozy/cozy-contacts/blob/master/client/app/models/contact.coffee#L185

But I am not able to reproduce the error. It seems that it is caused by the global variable `fuzzy` being `undefined`.

[2016-09-08 08:31] gregorylegarec commented on #262
__Reproduce__ :
* Create a new label containing a space character (in this case, "Prof physique")
* On the left panel, select this new label
* The error is thrown

__Expected behavior__ :
* The slug variable used in filters should not contain space character. Also, the class applied to the contact's DOM element also contains this space and is not "slugified".

[2016-09-13 12:45] CPatchane commented on #254
__Reproduce__:

* Add a contact with label "ami(e)s"
* Filter by "ami(e)s" tag

__Expected__:
* All contacts matching "ami(e)s" tag

[2016-09-13 14:33] gregorylegarec commented on #262
Should be fixed by https://github.com/cozy/cozy-contacts/pull/288

[2016-09-13 14:55] Phyks commented on #218
Should a user use "main" rather than say "principal" in French? It is really misleading that every other field names are translated except "main".

[2016-09-13 15:26] Phyks commented on #269
Same with a French cozy instance (cozy-contacts v2.1.11).

[2016-09-13 15:27] Phyks opened #289 "Labels can only be added, never removed"
Hi,

I have some empty labels in my contact apps, but it seems they cannot be removed. Would be really cool if there was a way to remove empty labels.

Thanks

[2016-09-13 15:32] Phyks opened #290 "Label dropdown not updated on label insertion"
Hi,

(Tested on cozy contacts v2.1.11)

1. Start from a contact without labels, click "Labels"
2. Click "Add a new label", put some text, type enter
3. Label is added below the contact name, but not in the labels dropdown (see screenshot, I added a "Fabelier" label).

<img width="176" alt="capture d ecran 2016-09-13 a 17 27 35" src="https://cloud.githubusercontent.com/assets/3856586/18480074/9a903

[2016-09-13 15:47] Phyks commented on #290
Similarly, an empty birthday field is not removed as well, until the contacts app restarts.

[2016-09-13 15:50] Phyks opened #291 "X or click outside of popover closes without confirmation"
Hi,

Closing using the X on the top right corner or by clicking outside of the popover, when editing a contact, closes the contact popover without any confirmation, contrary to what the cancel button does.

Thanks

[2016-09-13 16:00] gregorylegarec commented on #254
Seems to be fixed by Fix contacts filtering when label contains space #286, but also Fix contacts filtering when label contains space #288

[2016-09-13 16:03] Phyks opened #292 "Cancel modifications and edit again restores them"
Hi,

When modifying a contact, and discarding modifications using "Cancel" rather than "Save", then clicking "Edit" again opens the edit form with the last modified data before hitting "cancel" rather than starting again from the actual contact in the addressbook.

Thanks

[2016-09-13 16:03] Phyks commented on #269
Also, same with "datapoint placeholder label", see screenshot.

<img width="510" alt="capture d ecran 2016-09-13 a 17 56 59" src="https://cloud.githubusercontent.com/assets/3856586/18481420/6b9ca8c0-79dc-11e6-88a8-5c964bb1fc22.png">

[2016-09-14 08:43] clochix commented on #289
Thanks for reporting @Phyks,

Could you describe the steps to reproduce this issue?

I have a contact with some specific labels. When I edit it and uncheck the labels, they disappear from the dropdown list but not from the contact popup. As soon as I close the popup, this labels disappear from the left menu.

[2016-09-14 09:58] clochix commented on #254
Once this fix will be published, could you post an update on the forum? thanks!

[2016-09-14 12:41] Phyks opened #293 "Esc on confirmation screen"
Hi,

1. Edit a user
2. Click on "Cancel" button, a confirmation box appears
3. Press "Esc"

The confirmation box is still there, but the edit popover behind disappears. Then, there seems to be no way to close the confirmation box except for a page refresh. See example screenshot.

<img width="1474" alt="capture d ecran 2016-09-14 a 14 38 34" src="https://cloud.githubusercontent.com/assets/3856586/

[2016-09-14 12:42] Phyks commented on #292
Note that this is not working with every fields. For example, "pseudo" field (at the top of the form) is resetted on editing again.

Typical affected field is phone number and phone number type.

[2016-09-14 12:46] Phyks commented on #290
I checked this against v2.1.14. Label is now added in the label list on insertion, which fixes part of the issues. Remaining issues are:

- [ ] Checking a label to enable it and adding a label with the same name still results in the label name appearing multiple times as shown on https://cloud.githubusercontent.com/assets/3856586/18480109/bf81efea-79d7-11e6-86fa-4643c601eed4.png.
- [ ] Empty birth

[2016-09-14 12:53] Phyks commented on #289
Ok, here are some steps to reproduce it.

- Take any contact and add it a new label, say "foobar". You get
<img width="879" alt="capture d ecran 2016-09-14 a 14 48 32" src="https://cloud.githubusercontent.com/assets/3856586/18512667/7f3f9762-7a8a-11e6-9390-f0913cbe98d1.png">

- Uncheck the "foobar" label. The "foobar" label is now empty, and is still there in the dropdown. That's ok, and here's th

[2016-09-14 13:07] m4dz commented on #218
Yep @Phyks, this feature is planned to be developed on this next milestone (upcoming 3 months) on our roadmap :wink:.

[2016-09-14 16:33] Phyks commented on #218
OK, thanks for the feedback !

[2016-09-15 08:03] gregorylegarec commented on #259
This issue seems to be caused by calling `Fuzzy.match` with a non-string `target` object, at this line https://github.com/cozy/cozy-contacts/blob/master/client/app/models/contact.coffee#L185

As I am not able to reproduce it manually, I forced the issue by passing non-string object to `Fuzzy.match` and reproduced the exact same error.

https://github.com/cozy/cozy-contacts/pull/294 is an attempt t

[2016-09-15 10:18] gregorylegarec commented on #127
Bonjour @Peltoche,

Je suis en train de regarder cette anomalie et j'ai besoin d'éclaircir un point : tu obtiens cette VCARD lors d'un export depuis Contacts ?
[code]
Car de mon côté je n'obtiens pas du tout le même type d'export avec Contacts et je ne suis pas sûr de bien comprendre ta description vu que tu parles également d'application externe.

Merci de ta réponse !

[2016-09-15 10:29] Peltoche commented on #127
Salut @gregorylegarec,

Mon probleme a ete probablement corriger depuis le temps, mais je n'ai pas retenter... Si je me souvient bien il y avait un probleme avec l'export de contacts sous format VCARD, quand j'exportais des contacts depuis Cozy et les reimportaient le contenue de la photo passait dans le titre, du coup j'avais un titre super long en hexa. Pour savoir si c'etait l'export ou l'impor

[2016-09-15 13:06] gregorylegarec commented on #127
Merci @Peltoche pour ta réponse.

En effet le bug était encore sur notre liste d'attente et je n'avais pas fait attention à l'année, juste au mois. :)

Désolé de t'avoir dérangé et encore merci.

[2016-09-15 13:06] gregorylegarec commented on #127
Issue fixed in current version.

[2016-09-15 13:06] #127 closed

[2016-09-16 07:56] gregorylegarec commented on #269
Thanks for your feedback @Phyks.

All those points seem to be fixed in version 2.1.14.

[2016-09-16 07:56] #269 closed

[2016-09-18 14:46] Phyks commented on #269
Indeed, thanks!

[2016-09-18 14:48] Phyks commented on #93
Might be related to this issue but also to https://github.com/cozy/cozy-contacts/issues/120, currently when importing contacts from VC

[2016-09-19 07:57] clochix commented on #289
Thanks, I was able to reproduce. This only happens if app was not reloaded after label creation.
Also, when creating a new label, it's added at the top in the left menu, and not in the correct sort order.

Thanks for reporting!

[2016-09-19 19:13] Phyks commented on #289
@clochix btw, I checked and labels seem to never be sorted (alphabetically at least). Where are they supposed to be sorted?

[2016-09-19 19:16] Phyks opened #296 "Filter out contacts with labels"
Hi,

I think it might be useful sometimes to filter out contacts without any labels, but this does not seem to be feasible at the moment. That might be a great addition.

Typically, I tag most of my contacts, except very few contacts. Being able to filter out any contact with a label will help access those faster.

Thanks

[2016-09-19 19:17] Phyks commented on #289
Also, it may be somehow linked to https://github.com/cozy/cozy-contacts/issues/174.

[2016-09-19 19:21] Phyks opened #297 "Closing label dropdown do not reset the "add label" button"
Hi,

Steps to reproduce:
1. Open the label dropdown in contact edit form.
2. Click the "Add new label" button.
3. Close the label dropdown without effectively add a new label.
4. Reopen the label dropdown. The "Add new label" button is not there, but the input is still there instead, with the same content as it used to have.

I am not sure this is done on purpose. I can understand that if some tex

[2016-09-19 20:03] jaller94 opened #298 "Dialogs stay "aria-busy" after canceling an alertdialog"
## Reproduce
### Example 1
1. Create a new contact or edit an old one
2. Click "Cancel" in the edit dialog.
3. Click "Stay on edit mode"
### Example 2
1. Open an existing contact
2. Click "Delete"
3. Cancel the deletion.

## Expected behaviour
The dialog moves up again and isn't faded to grey. The `<section role="dialog" class="card">` loses its attribute `aria-busy="true"`.

## Actual behaviour
T

[2016-09-20 12:59] clochix commented on #298
Thanks for this very detailed report!

[2016-09-20 13:55] clochix commented on #289
I don't know where labels are supposed to be sorted, but, this is what I see in the UI: after adding a label and reloading the page, the labels are alphabetically sorted.

[2016-09-20 18:10] Phyks commented on #289
Indeed, labels are sorted after a full page refresh, my bad :/

[2016-09-22 06:46] jdambron opened #299 "Wrong synchronization of date when the year is not specified"
When the y

[2016-09-22 06:46] #299 closed

[2016-09-22 06:51] jdambron opened #300 "Wrong synchronization of date when the year is not specified"
When synchronizing contacts, either through Google import or Android sync, if the year is not specified (possible for instance for birthdays) the date is incorrectly imported into cozy : the day becomes 1, the month is the day and the year is the month.

[2016-09-22 09:18] clochix commented on #300
Thanks for reporting @jdambron.
I just has a look and it seems that the birthday date is imported without the year, so it is stored inside the database as '--05-17' for example. So this is probably just a problem when we display it, we should take this case into account and only display day and month.

[2016-09-22 09:25] jdambron commented on #300
Thanks for this quick answer @clochix.

The display is indeed one problem but not the only one. If you use Konnectors to import birthdays into your calendar for example, it uses the wrong date.

[2016-09-27 07:58] jsilvestre commented on #22
There is now a way to import contacts from Google and all through "import from google" and connectors, so I close this issue.

[2016-09-27 07:58] #22 closed

[2016-09-29 09:02] ArchangeGabriel commented on #271
See also https://github.com/cozy-labs/import-from-google/issues/41.

[2016-09-30 10:25] clochix opened #301 "Uncaught TypeError: Cannot read property 'get' of undefined"
The user has imported a vcard file with ± 500 contacts from Google. He reports errors when trying to merge some of them “pour un contact, il a été divisé en deux : un avec juste le nom de la personne; l'autre avec juste son adresse e-mail, mais sans nom. et pour un autre contact, je n'ai que l'adresse mail mais pas le nom. j'ai essayé de merger deux contacts pour résoudre mon pb précedemment cité,

[2016-09-30 10:27] clochix commented on #249
Another error stack (see #301):
[code]

[2016-09-30 10:28] clochix opened #302 "TypeError: Cannot read property 'length' of null"
User is bulk deleting around 500 contacts just after importing them. Cf #301:
[code]

[2016-10-10 14:41] nicofrand commented on #158
Seems like there was a regression:

![bug-duplicates](https://cloud.githubusercontent.com/assets/3419050/19239902/60894768-8f08-11e6-9b97-d52f8313d74e.png)

[2016-10-10 14:47] nicofrand opened #303 "Several main fields displayed"
After merging some contacts into one and removing some email adresses, the labels display several "Main" fields:

![bug-contacts](https://cloud.githubusercontent.com/assets/3419050/19240113/41ac14be-8f09-11e6-9bdc-0898529ee670.png)

[2016-10-11 15:25] Phyks opened #304 "Delete selected contact keeps selection"
Hi,

Steps to reproduce:

1. Tick a contact's checkbox to select it.
2. Delete it.

Then, the contact is deleted correctly but is still somehow selected ("1 selected contact" is still shown in the left panel).

[2016-10-11 15:27] Phyks opened #305 "Weird "tools labels admin" when a contact is selected"
Hi,

When I select a contact, the labels list in the left menu is updated ("tools labels admin"), and has checkboxes.

I think it is quite unclear what this menu is for. I think it is to change the labels associated with the contact?

Also, displayed labels are weird. It seems it includes any possible label, and not only contact label (typically I have some calendar names that appear in this list,

[2016-10-12 12:40] clochix opened #306 "Delete confirmation displayed out of screen on small screens"
Reported by fiftysixfactory.
On small screen, the confirmation prompt when deleting contact is empty (in fact, the text is probably out of the screen). This makes deleting contacts hard.

[2016-10-12 13:05] clochix commented on #306
![screen shot 2016-10-12 at 14 37 31](https://cloud.githubusercontent.com/assets/384908/19311146/59a61bac-908d-11e6-93d1-c5a2656f12fa.png)

[2016-11-02 21:40] Beast141 opened #307 "Search refreshes the whole list everytime i type a name and never finds the contact"
after importing over 600 contacts, i used the search to search for a contact, as soon as finish typing it automatically just refreshes the whole list and i can see the scrollbar getting smaller again, since it is reading the whole list.
Firstly the search of the name i enter doesnt filter out, ie. only the list refreshes.

secondly when the list keeps refreshing like that, it keeps reading the who

[2016-11-02 21:42] Beast141 commented on #307
I have just realized that, as soon as i take the name out of the search bar, the scroll bar resets itself and doesnt re-read the list. its the actual search thats the problem.

[2016-11-02 22:11] Beast141 commented on #307
investigating further, i have seen a different problem all together.
What i did was, i have exported all contacts from android to a .vcf card and then imported that in my cozy. As soon as that has happened, i try click on a contact and it doesnt open or edit. i cannot search or anything like that.
It seems like cozy doesnt like something in the vcf card, which is causing an error.

Can someone tel

[2016-11-02 22:57] Beast141 commented on #271
As far as i remember this was solved long time ago like 1 year ago, a few versions of cozy-contacts ago. I remember i had posted the same issue, and you guys fixed it by using 'tags' or labels to represent groups, and then it worked. but now it doesnt anymore.
I am having the same problem again, i sync'd a contact that had a group from android to cozy, and it didnt add it.
Also, i added a new grou

[2016-11-03 14:55] ArchangeGabriel commented on #271
CardDAV apparently support two ways of handling group, see:

https://davdroid.bitfire.at/faq/entry/cant-manage-groups-on-device/

So, Android seems to manage groups as vCard, while Cozy doesn’t. Not sure about how Google does this, but I think it’s vCard too, which would make sense with regards to Android, but not to cozy-import.

I think that groups issues, whether on mobile, import or contacts a

[2016-11-03 23:22] Beast141 commented on #271
yea i remember that option. I agree.. the grouping is very important, especially if most of your contacts are grouped to find them easier.

[2016-11-08 16:26] clochix commented on #307
Hello @Beast141,

Thanks for your reports. Are you self-hosted or using one of our beta-test server? If your self-hosted, could you send us a message from the form in the help menu, checking the box to send us your logs. If you're using one of our servers, just send us your URL at contact at cozycloud.cc and I'll have a look at your logs.

[2016-11-10 13:47] trebuh opened #308 "[Feature Request] Sort contacts by nickname"
As of now, it is only possible to sort contacts by name or surname. It would be a nice feature to be able to sort them by nickname also.

[2016-11-11 12:31] Beast141 commented on #307
@clochix
I have finally realized that this is a specific problem with Sony Xperia Z5 devices. actually the whole range of sony Z series.
This is the issue i reported and the issues im having:
https://forums.bitfire.at/topic/1247/will-the-null-null-issue-on-xperia-z3-z4-z5-ever-be-fixed
No wonder i cant even create a contact.
When i try to create a contact from the phone the name becomes a number a

[2016-11-15 13:51] clochix commented on #307
Hello @Beast141,

Could you send us the logs of your server (go to the Help menu, fill the form with a quick message, check the checkbox for attaching the logs and submit the form) ? I'll have a look at them to see if there are any issue we could fix on our side.

[2016-12-06 14:29] jabby commented on #205
Hello,
Did you have any news about the bug ? Is it planned or just in backlog but without high priority ?
Thanks for the answer and thanks for the work.

[2016-12-06 14:32] jabby commented on #296
:+1:
One possible implementation is to add an hidden tag when there is nothing else and filter on the specific one.

[2017-01-18 10:58] misstick opened #310 "[stack-v2] can't get globals from `cozy-client-js`"
see comments here: https://github.com/misstick/cozy-contacts/blob/49ee57116f3c5b8e5b2969af0d2a8ea66453d704/index.html#L40

[2017-01-19 15:17] misstick opened #311 "[stack-v2] cant fetch or save collection/models without any server"
When adding a new contact threw modal window : views are not updated because realtime doenst works. Same issue when fetching contacts when application starts.

See add contact use case : https://github.com/misstick/cozy-contacts/blob/d1228c0e0561824cc7fb12e025fbde2b55ac900b/app/models/contact.coffee#L121

Here is realtime adapter : https://github.com/cozy/cozy-contacts/blob/master/client/vendor/co

[2017-01-30 11:15] clochix commented on #255
[Another user is requesting this feature](https://forum.cozy.io/t/app-contacts/1103/126).

[2017-03-14 17:33] lespacedunmatin opened #312 "Trim contacts names"
Contacts names can begin with a whitespace, which will not be trimmed.

[2017-03-16 10:55] clochix commented on #312
Thanks for reporting @lespacedunmatin.

We plan to work on this application during the second quarter of 2017, to adapt to the new version of Cozy. We'll probably fix this issue during this refactoring.

[2017-03-28 09:04] clochix opened #313 "Regression in development branch : unable to emty search"
I installed a build from the development branch (commits after the 2.1.14 tag) to get some fixes, but I'm now unable to clear search field.
May be related to fixes for preventing search when search field is empty.
Ping @gregorylegarec

([reported on the forum](https://forum.cozy.io/t/retours-sur-utilisation-cozy/4198/11))

[2017-04-10 08:14] clochix opened #314 "Add a Mastodon field"
For now, we can add a “Social media” field to a contact. The label of this field is “Twitter”, an old and deprecated social network. We should update this to Mastodon.
Thanks!

[2017-05-02 09:18] clochix opened #315 "Allow to add attachments to contacts"
[Requested on the forum](https://forum.cozy.io/t/retours-sur-utilisation-cozy/4198/16): the user would like to be able to add attachments to the contacts (for example, scanned documents).

[RFC 6350](https://tools.ietf.org/html/rfc6350) doesn't seem to allow such a thing.

[2017-10-17 00:09] vincentkollebolle commented on #274
Please!!!!! would be cool ! +1

[2017-10-17 00:10] vincentkollebolle opened #316 "import contact via CSV format !"
Right now only import in vcf format can be done !
Would be great to have a CSV option

[2017-10-18 19:27] clochix commented on #316
Hello @vincentkollebolle,

Please note that this is the old, deprecated contact application, for the previous version of Cozy, that we don't maintain anymore.

The work on the contact application for the soon to come Cozy V3 has not began yet.